<%- if params[:locale] == 'he' -%>
    <div class="widget-blog">
      <ul>
        <li><%= link_to 'הכיוון היומי', 'https://docs.google.com/document/d/1D_6EDz7BzYC-vSNoHqmXtzBboK3lMTg2OtdudG9aCZM/edit?usp=sharing', :target => '_blank' %></li>
        <li><%= link_to 'שאלות לרב', 'http://kabbalahgroup.info/internet/he/pages/33696', :target => '_blank' %></li>
        <li><%= link_to 'לוח אירועים שבועי-שנתי', 'https://docs.google.com/spreadsheets/d/1B76zdIX2p48FEA1fvJr36DHKsQaIODQT9kWUZ8n0c7o/edit#gid=142349855', :target => '_blank', :style => 'color: red;' %></li>
        <li><%= link_to 'מאמר הצהריים להשמעה חוזרת', 'https://drive.google.com/folderview?id=0B3S5k1M0sUkEWHFITHd4Z1BQalk&usp=drive_web', :target => '_blank' %></li>
      </ul>
    </div>
<%- elsif params[:locale] == 'ru' -%>
    <div class="widget-blog">
      <ul>
        <li><%= link_to 'Направление дня', 'https://docs.google.com/document/d/1zAMgKV07X7vcFNdyMQZ34wsTBX41cUbF73fRe8QGi4o/edit?usp=sharing', :target => '_blank' %></li>
        <li><%= link_to 'Задать вопрос Раву', 'http://kabbalahgroup.info/internet/ru/pages/33698', :target => '_blank' %></li>
        <li><%= link_to 'Расписание на неделю/ Годовой календарь событий', 'https://docs.google.com/spreadsheets/d/1B76zdIX2p48FEA1fvJr36DHKsQaIODQT9kWUZ8n0c7o/edit#gid=142349855', :target => '_blank', :style => 'color: red;' %></li>
        <li><%= link_to 'HelpHaver', 'https://checkout.kabbalah.info/ru/payments/new?project_id=help_friend', :target => '_blank' %></li>
        <li><%= link_to 'Уроки иврита для занимающихся каббалой', 'http://www.kabhebrew.info/', :target => '_blank' %></li>
        <li><%= link_to 'Карта Мирового Кли ББ', 'http://bit.ly/groupmap', :target => '_blank' %></li>
      </ul>
    </div>
<%- elsif params[:locale] == 'es' -%>
    <div class="widget-blog">
      <ul>
        <li><%= link_to 'Preguntas para Rav', 'http://kabbalahgroup.info/internet/es/pages/33699', :target => '_blank' %></li>
        <li><%= link_to 'Agenda de eventos semanal anual', 'https://docs.google.com/spreadsheets/d/1B76zdIX2p48FEA1fvJr36DHKsQaIODQT9kWUZ8n0c7o/edit#gid=142349855', :target => '_blank', :style => 'color: red;' %></li>
        <li><%= link_to 'HelpHaver', 'https://checkout.kabbalah.info/es/payments/new?project_id=help_friend', :target => '_blank' %></li>
        <li><%= link_to 'Seguimos navegando', 'http://www.kabbalahgroup.info/spa/new/', :target => '_blank' %></li>
        <li><%= link_to 'Clases de hebreo para los estudiantes de la Cabalá', 'http://www.kabhebrew.info/spanish_1.htm', :target => '_blank' %></li>
      </ul>
    </div>
<%- elsif params[:locale] == 'de' -%>
    <div class="widget-blog">
      <ul>
        <li><%= link_to 'Daily Direction', 'https://docs.google.com/document/d/1Yv1Ezu3g-SktpEfhP58IWfiQ_EOvjnaUgPBMN5nGyv4/edit?usp=sharing', :target => '_blank' %></li>
        <li><%= link_to 'Weekly/Annual Events Schedule', 'https://docs.google.com/spreadsheets/d/1B76zdIX2p48FEA1fvJr36DHKsQaIODQT9kWUZ8n0c7o/edit#gid=142349855', :target => '_blank', :style => 'color: red;' %></li>
        <li><%= link_to 'Questions for Rav', 'http://kabbalahgroup.info/internet/en/pages/33697', :target => '_blank' %></li>
        <li><%= link_to 'HelpHaver', 'https://checkout.kabbalah.info/de/payments/new?project_id=help_friend', :target => '_blank' %></li>
        <li><%= link_to 'Hebräisch-Unterricht für Kabbala-Studierende', 'http://www.kabhebrew.info/english_1.htm', :target => '_blank' %></li>
      </ul>
    </div>
<%- elsif params[:locale] == 'pt'  -%>
    <div class="widget-blog">
      <ul>
        <li><%= link_to 'Daily Direction', 'https://docs.google.com/document/d/1Yv1Ezu3g-SktpEfhP58IWfiQ_EOvjnaUgPBMN5nGyv4/edit?usp=sharing', :target => '_blank' %></li>
        <li><%= link_to 'Questions for Rav', 'http://kabbalahgroup.info/internet/en/pages/33697', :target => '_blank' %></li>
        <li><%= link_to 'Ajuda Amigo', 'https://checkout.kabbalah.info/en/payments/new?project_id=help_friend', :target => '_blank' %></li>
        <li><%= link_to 'Calendario semanal de eventos - anual', 'https://docs.google.com/spreadsheets/d/1B76zdIX2p48FEA1fvJr36DHKsQaIODQT9kWUZ8n0c7o/edit#gid=142349855', :target => '_blank', :style => 'color: red;' %></li>
        <li><%= link_to 'Lições de Hebraico para Aqueles que Estudam Cabala', 'http://www.kabhebrew.info/english_1.htm', :target => '_blank' %></li>
        <li><%= link_to 'Mapa Mundial do Kli BB', 'http://bit.ly/groupmap', :target => '_blank' %></li>
      </ul>
    </div>
<%- else #params[:locale] == 'en'  -%>
    <div class="widget-blog">
      <ul>
        <li><%= link_to 'Daily Direction', 'https://docs.google.com/spreadsheets/d/1IzVTPidUlsM2m1N1McCnB2GqbxrxIzVdmCAeLUO_Nxw/edit#gid=0', :target => '_blank' %></li>
        <li><%= link_to 'Questions for Rav', 'http://kabbalahgroup.info/internet/en/pages/33697', :target => '_blank' %></li>
        <li><%= link_to 'Weekly/Annual Events Schedule', 'https://docs.google.com/spreadsheets/d/1B76zdIX2p48FEA1fvJr36DHKsQaIODQT9kWUZ8n0c7o/edit#gid=142349855', :target => '_blank', :style => 'color: red;' %></li>
        <li><%= link_to 'HelpHaver', 'https://checkout.kabbalah.info/en/payments/new?project_id=help_friend', :target => '_blank' %></li>
        <li><%= link_to 'Hebrew Lessons for Those Who Study Kabbalah', 'http://www.kabhebrew.info/english_1.htm', :target => '_blank' %></li>
        <li><%= link_to 'BB World Kli Map', 'http://bit.ly/groupmap', :target => '_blank' %></li>
      </ul>
    </div>
<%- end -%>
