<%= widget_div do -%>
  <div class="question-list">
    <div class="ask-question-toggle"><%= link_to t('kabtv.kabtv.ask_question'), '#', :class => 'button-small-main',
        :onclick => 'kabtv.questions.toggleAskAndQuestions(); return false;' %></div>
    <dl id="questions">
      <dd class="even"><%= t 'kabtv.kabtv.no_questions_yet' %></dd>
    </dl>
  </div>
  <div class="question-ask">
    <div class="ask-div"><% t('kabtv.kabtv.ask_question') %></div>
    <%= form_for @ask, :as => :kabtv_question, :url => url_for_event(:submit_question),
      :remote => true, :class => 'ask-form' do |f| %>
      <div class="inputs">
        <%= f.label :qname, t('kabtv.kabtv.who') %>
        <%= f.text_field :qname %>
        <%= f.label :qfrom, t('kabtv.kabtv.from') %>
        <%= f.text_field :qfrom %>
        <%= f.label :qquestion, t('kabtv.kabtv.question') %>
        <%= f.text_area :qquestion, :rows => 5, :cols => 10 %>
      </div>
      <div class="buttons">
        <%= submit_tag t('kabtv.kabtv.ask_question'), :class => 'button-small-main',
          :onclick => 'kabtv.questions.toggleAskAndQuestions();' %>
        &nbsp;&nbsp;&nbsp;
        <%= submit_tag t('kabtv.kabtv.cancel'), :class => 'button-small-cancel',
          :onclick => 'kabtv.questions.toggleAskAndQuestions(); return false;' %>
      </div>
    <%- end -%>
  </div>
<%- end -%>

<script type="text/javascript">
  var last_question_id = 0;

  $(function (){
    kabtv.questions.url_for_more_questions = '<%= url_for_event(:more_questions) %>';
    kabtv.tabs.stream_preset_id = '<%= @stream_preset.id %>';

    kabtv.questions.pollQuestions();
    kabtv.questions.startPollingQuestions();
  });
</script>
