<style type="text/css">
  #sketches {display: none;}
</style>
<%= widget_div do -%>
  <div class="question-list">
    <div class="ask-question-toggle"><%= link_to 'Ask Question', '#', :class => 'button-small-main',
        :onclick => '$(".question-list").hide(); $(".question-ask").show(); return false;' %></div>
    <dl>
      <%- @questions.each_with_index {|q, idx|
          klass = idx & 1 == 0 ? 'odd' : 'even'
        -%>
        <dt class="<%= klass %>"><span class="who"><%= q.qname %></span>, <span class="where"><%= q.qfrom %></span></dt>
        <dd class="<%= klass %>"><%= q.qquestion %></dd>
      <%- } -%>
    </dl>
  </div>
  <div class="question-ask">
    <div class="ask-div">Ask a question</div>
    <%= form_tag '', 'data-event-url' => url_for_event(:submit), :class => 'ask-form' do %>
      <div class="inputs">
        <%= label_tag 'who' %>
        <%= text_field_tag 'who' %>
        <%= label_tag 'where' %>
        <%= text_field_tag 'where' %>
        <%= label_tag 'message' %>
        <%= text_area_tag 'message', '', :rows => 5, :cols => 10 %>
      </div>
      <div class="buttons">
        <%= submit_tag 'Ask Question', :class => 'button-small-main' %>
        &nbsp;&nbsp;&nbsp;
        <%= submit_tag 'Cancel', :class => 'button-small-cancel',
          :onclick => '$(".question-list").show(); $(".question-ask").hide(); return false;' %>
      </div>
    <%- end -%>
  </div>
<%- end -%>

<script type="text/javascript">

</script>