<div class="span-18">
  <fieldset>
    <legend>Title &amp; Description</legend>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title, :class => 'title span-17 last' %>
    <%= f.label :description, 'Description', :class => 'text' %>
    <%= f.cktext_area :description, :toolbar => ckeditor_toolbar, :class => 'span-17 last', :width => '650px', :height => '6em' %>
  </fieldset>
  <%= render 'permissions' %>
  <%= render 'tags' %>
</div>