<fieldset>
  <legend><%= t("admin.pages.featured_settings") %></legend>
  <%= f.check_box :is_sticky %>
  <%= f.label :is_sticky, t("admin.pages.is_sticky")+'?' %>

  <p class="not-implemented-yet">Not implemented yet.</p>
  <input type="checkbox"> <%= t("admin.pages.is_sticky") %></input><br/>
  <input type="checkbox"> <%= t("admin.pages.top_header") %></input><br/>
  <input type="checkbox"> <%= t("admin.pages.big_banner") %></input><br/>
  <input type="checkbox"> <%= t("admin.pages.top_side_banner") %></input><br/>
  <input type="checkbox"> <%= t("admin.pages.bottom_side_banner") %></input><br/>
</fieldset>
