<%- showgrid false -%>
<h1><%= t("admin.pages.new_message") %></h1>
<div class="tabs">
  <div class="span-10 last"><h2 class="tab currenttab"><a href="javascript:;"><%= t("admin.pages.metadata_and_content") %></a></h2></div>
  <div class="clear"></div>
</div>

<div class="contenttabs">
  <%= form_for [:admin, @page], :html => {:id => 'page'} do |f| %>
    <%= render 'hidden', :f => f %>
    <div class="tab currenttab">
      <div class="span-18">
        <fieldset>
          <legend><%= t("admin.pages.content") %></legend>
          <%= f.label :title, t("admin.pages.title") %>
          <%= f.text_field :title, :class => 'title span-17 last' %>
          <%= f.label :description, t("admin.pages.description"), :class => 'text' %>
          <%= f.cktext_area :description, :toolbar => ckeditor_toolbar, :class => 'span-17 last', :width => '650px', :height => '6em' %>
          <br/>
          <%= f.label :message_body, t("admin.pages.message_body"), :class => 'text' %>
          <%= f.cktext_area :message_body, :toolbar => ckeditor_toolbar, :class => 'span-17 last', :width => '650px', :height => '6em' %>
        </fieldset>
        <%= render 'permissions', :f => f %>
        <%= render 'tags', :f => f %>
      </div>
      <div class="span-6 last">
        <%= render 'page_save', :f => f %>
        <%= render 'featured_settings', :f => f %>
      </div>
      <div class="clear"></div>
    </div>
  <%- end -%>
</div>
