<fieldset>
  <legend>Save &amp; Publish</legend>
  <p>Publish at:
    <%= f.text_field :publish_at, :class => 'datepicker span-3' %>
  </p>
  <p>
    <%= f.submit "Save as Draft", :name => 'DRAFT' %>
    <%= link_to t('views.cancel'), admin_pages_url %>
  </p>
  <p>
    <%= f.submit "Publish At", :name => 'PUBLISH_AT', :onclick => 'alert("Not implemented yet"); return false;' %>
    <%= f.submit "Publish", :name => 'PUBLISH' %>
  </p>
</fieldset>
