<%- showgrid false -%>
<h1><%= t("admin.pages.page_administration") %></h1>
<div class="span-4">
  <select class="span-4" name="new-items" id="new-items" onchange="new_item()">
    <option value=-1"><%= t('admin.pages.create_new') %></option>
    <option value="<%= new_admin_page_url(:page_type => 'assignment', :locale => I18n.locale) %>"><%= t("admin.pages.assignment") %></option>
    <option value="<%= new_admin_page_url(:page_type => 'xxx', :locale => I18n.locale) %>"><%= t("admin.pages.event") %></option>
    <option value="<%= new_admin_page_url(:page_type => 'article', :locale => I18n.locale) %>"><%= t("admin.pages.article") %></option>
    <option value="<%= new_admin_page_url(:page_type => 'message', :locale => I18n.locale) %>"><%= t("admin.pages.message") %></option>
  </select>
</div>
<div class="large prepend-14 span-4">
  <form action="#" method="get" accept-charset="utf-8">
    <p>
      <select name="languages" id="languages" onchange="change_language()">
        <option value=-1"><%= t('admin.pages.select_language') %></option>
        <% Language.all.each { |l| %>
          <option value="<%= admin_pages_url(l.locale) %>"><%= l.language %></option>
        <% } %>
      </select>
    </p>
  </form>
</div>
<div class="span-2 last large"><a href="<%= destroy_user_session_path %>"><%= t("admin.pages.logout") %></a></div>
<!--div class="span-20 large">
  <a href=""><%= t("admin.pages.content") %></a> | <a href=""><%= t("admin.pages.permissions") %></a> | <a href="#"><%= t("admin.pages.statistics") %></a> | <a href="#"><%= t("admin.pages.help") %></a>
</div-->
<hr/>
<!--form action="" method="post" class="inline">
  <div class="span-8 append-16 last">
    <input type="text" class="text span-6" id="q" name="q" value=""/>
    <input type="submit" value="<%= t("admin.pages.search") %>" class="button"/>
  </div>
</form-->
<!--form action="" method="post" class="inline">
  <div class="span-24 last">
    <label for="a1"><%= t("admin.pages.status") %></label>
    <select id="a1" name="a1" >
      <option value="0"><%= t("admin.pages.all_posts") %></option>
      <option value="1"><%= t("admin.pages.drafts") %></option>
      <option value="2"><%= t("admin.pages.published") %></option>
      <option value="3"><%= t("admin.pages.future_posts") %></option>
    </select>
    &nbsp;&nbsp;
    <label for="a2"><%= t("admin.pages.type") %></label>
    <select id="a2" name="a2" >
      <option value="0"><%= t("admin.pages.all_posts") %></option>
      <option value="1"><%= t("admin.pages.assignments") %></option>
      <option value="2"><%= t("admin.pages.events") %></option>
      <option value="3"><%= t("admin.pages.messages") %></option>
    </select>
    &nbsp;&nbsp;
    <label for="a3"><%= t("admin.pages.permissions") %></label>
    <select id="a3" name="a3" >
      <option value="0">for All Users</option>
      <optgroup label="by Gender">
        <option value="2">for Men Only</option>
        <option value="3">for Women Only</option>
      </optgroup>
      <optgroup label="by Language">
        <option value="4">for Hebrew Speakers</option>
        <option value="5">for Russian Speakers</option>
        <option value="6">for French Speakers</option>
        <option value="7">for English Speakers</option>
      </optgroup>
      <optgroup label="by Membership Period">
        <option value="8">for New Users</option>
        <option value="9">for Old Users</option>
      </optgroup>
      <optgroup label="by Group Name">
        <option value="10">for BB - Petach Tikva</option>
        <option value="11">for BB - Young Group</option>
        <option value="12">for Holon Group</option>
      </optgroup>
    </select>
    &nbsp;&nbsp;
    <label for="a4">Author</label>
    <select id="a4" name="a4" >
      <option value="0">by All Users</option>
      <option value="1">by You Only</option>
      <optgroup label="--------">
        <option value="2">by User1</option>
        <option value="3">by User2</option>
        <option value="4">by User3</option>
        <option value="5">by User4</option>
        <option value="6">by User5</option>
      </optgroup>
    </select>
    <input type="submit" value="<%= t("admin.pages.filter") %>" class="button"/>
  </div>
</form-->
<div class="span-24 last" style="line-height:1px;">
  <!--form action="" method="post" class="inline">
    <div>
      <select id="a5" name="a5" >
        <option value="0"><%= t("admin.pages.bulk_action") %></option>
        <option value="1"><%= t("admin.pages.delete") %></option>
        <option value="2"><%= t("admin.pages.set_as_draft") %></option>
        <option value="3"><%= t("admin.pages.publish") %></option>
      </select>
      <input type="submit" value="submit" class="button"/>
    </div>
  </form-->
  &nbsp;&nbsp;
  <%= form_tag(admin_pages_url(:locale => I18n.locale), :method => :get) do |f| %>
    <div>
      <% count = select_tag 'per_page',
        options_for_select(Page.show_on_page, Page.per_page),
        { :onchange => "this.form.submit();"} %>
      <%= t("admin.pages.show_on_page", :count => count).html_safe %>
    </div>
  <% end %>
</div>

<hr/>

<div class="span-24 last">
  <table style="border:0 none;border-collapse: collapse;border-spacing: 0;">
    <caption><%= pagination_info @pages %></caption>
    <thead>
      <tr>
        <th class="span-1"><input type="checkbox" name="selectall" value="select" /></th>
        <th class="span-2"><a href="#"><%= t("admin.pages.status") %></a></th>
        <th class="span-10"><a href="#"><%= t("admin.pages.title") %></a></th>
        <th class="span-2"><a href="#"><%= t("admin.pages.type") %></a></th>
        <th class="span-3"><a href="#"><%= t("admin.pages.updated_at") %></a></th>
        <th class="span-3"><a href="#"><%= t("admin.pages.publish_date") %></a></th>
        <th class="span-3 last" colspan="2"><%= t("admin.pages.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <%- @pages.each_with_index {|page, index| -%>
        <%= render :partial => 'page-list', :locals => {:page => page, :even => index % 2 == 1 } %>
      <%- } -%>
    </tbody>
  </table>
</div>
<div class="prepend-8 append-8 span-8 large">
  <div class="span-8"><%= will_paginate @pages %></div>
</div>
