<%- showgrid false -%>
<h1><%= t("admin.pages.page_administration") %></h1>
<div class="span-10">
  <select name="new-items" id="new-items">
    <option value=-1
    "><%= t('admin.pages.create_new') %></option>
    <option value="<%= new_admin_page_url(:page_type => 'assignment') %>"><%= t("admin.pages.assignment") %></option>
    <option value="<%= new_admin_page_url(:page_type => 'event') %>"><%= t("admin.pages.event") %></option>
    <option value="<%= new_admin_page_url(:page_type => 'article') %>"><%= t("admin.pages.article") %></option>
    <option value="<%= new_admin_page_url(:page_type => 'message') %>"><%= t("admin.pages.message") %></option>
    <option value="<%= new_admin_page_url(:page_type => 'project') %>"><%= t("admin.pages.project") %></option>
  </select>
  <select name="new-language" id="new-language">
    <option value=""><%= t('admin.pages.select_language') %></option>
    <% Language.all.each { |l| %>
        <option value="<%= l.locale %>"><%= l.language %></option>
    <% } %>
  </select>
  <%= submit_tag t("admin.pages.create"), :name => nil, :class => 'button-small-main', :onclick => 'new_item(); return false;' %>
</div>
<div class="large prepend-8 span-4">
  <form action="#" method="get" accept-charset="utf-8">
    <p>
      <select name="languages" id="languages" onchange="change_language()">
        <option value="-1"><%= t('admin.pages.select_language') %></option>
        <% Language.all.each { |l| %>
            <option value="<%= admin_pages_url(l.locale) %>" <%= 'selected="selected"' if l.locale.to_sym == I18n.locale %>><%= l.language %></option>
        <% } %>
      </select>
    </p>
  </form>
</div>
<div class="span-2 last large"><a href="<%= destroy_user_session_path %>"><%= t("admin.pages.logout") %></a></div>
<!--div class="span-20 large">
  <a href=""><%= t("admin.pages.content") %></a> | <a href=""><%= t("admin.pages.permissions") %></a> | <a href="#"><%= t("admin.pages.statistics") %></a> | <a href="#"><%= t("admin.pages.help") %></a>
</div-->
<hr />
<%= form_tag admin_pages_url(:locale => I18n.locale), :method => 'get', :class => 'inline', :id => 'search-form' do %>
    <div class="span-12 append-12 last">
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <%= hidden_field_tag :page_no, params[:page_no] %>
      <%= hidden_field_tag :per_page, params[:per_page] %>
      <%= text_field_tag :search, params[:search], :class =>'text span-6' %>
      <%= submit_tag t("admin.pages.search"), :name => nil, :class => 'button-small-main', :onclick => 'store_setup();' %>
      <%= submit_tag t("admin.pages.reset"), :name => nil, :class => 'button-small-cancel', :onclick => 'reset_form(); return false;' %>
    </div>
    <div class="span-24 last">
      <label for="status"><%= t("admin.pages.status") %></label>
      <select id="status" name="status">
        <option value="" <%= 'selected="selected"' if params[:status] == '' %>><%= t("admin.pages.all_posts") %></option>
        <option value="DRAFT" <%= 'selected="selected"' if params[:status] == 'DRAFT' %>><%= t("admin.pages.drafts") %></option>
        <option value="PUBLISHED" <%= 'selected="selected"' if params[:status] == 'PUBLISHED' %>><%= t("admin.pages.published") %></option>
        <option value="FUTURE" <%= 'selected="selected"' if params[:status] == 'FUTURE' %>><%= t("admin.pages.future_posts") %></option>
      </select>
      &nbsp;&nbsp;
      <label for="page_type"><%= t("admin.pages.type") %></label>
      <select id="page_type" name="page_type">
        <option value="" <%= 'selected="selected"' if params[:page_type] == '' %>><%= t("admin.pages.all_posts") %></option>
        <option value="assignment" <%= 'selected="selected"' if params[:page_type] == 'assignment' %>><%= t("admin.pages.assignments") %></option>
        <option value="event" <%= 'selected="selected"' if params[:page_type] == 'event' %>><%= t("admin.pages.events") %></option>
        <option value="article" <%= 'selected="selected"' if params[:page_type] == 'article' %>><%= t("admin.pages.content") %></option>
        <option value="message" <%= 'selected="selected"' if params[:page_type] == 'message' %>><%= t("admin.pages.messages") %></option>
        <option value="project" <%= 'selected="selected"' if params[:page_type] == 'project' %>><%= t("admin.pages.project") %></option>
      </select>
      &nbsp;&nbsp;
      <%- if current_user.is_admin? || current_user.is_super_moderator? %>
          <label for="flocale"><%= t("admin.pages.language") %></label>
          <select id="flocale" name="flocale">
            <option value=""><%= t("admin.pages.any_language") %></option>
            <option value="en"><%= 'English' %></option>
            <option value="ru"><%= 'Russian' %></option>
            <option value="he"><%= 'Hebrew' %></option>
            <option value="de"><%= 'Deutsch' %></option>
            <option value="it"><%= 'Italian' %></option>
            <option value="sp"><%= 'Spanish' %></option>
          </select>
      <%- end %>
      <!--label for="a3"><%= t("admin.pages.permissions") %></label>
    <select id="a3" name="a3" >
      <option value="0">for All Users</option>
      <optgroup label="by Gender">
        <option value="2">for Men Only</option>
        <option value="3">for Women Only</option>
      </optgroup>
      <optgroup label="by Language">
        <option value="4">for Hebrew Speakers</option>
        <option value="5">for Russian Speakers</option>
        <option value="6">for French Speakers</option>
        <option value="7">for English Speakers</option>
      </optgroup>
      <optgroup label="by Membership Period">
        <option value="8">for New Users</option>
        <option value="9">for Old Users</option>
      </optgroup>
      <optgroup label="by Group Name">
        <option value="10">for BB - Petach Tikva</option>
        <option value="11">for BB - Young Group</option>
        <option value="12">for Holon Group</option>
      </optgroup>
    </select>
    &nbsp;&nbsp;
    -->
      <label for="author"><%= t("admin.pages.by_author") %></label>
      <select id="author" name="author">
        <option value="" <%= 'selected="selected"' if params[:author] == '' %>><%= t("admin.pages.all") %></option>
        <option value="<%= current_user.id %>" <%= 'selected="selected"' if params[:author] == current_user.id.to_s %>><%= t("admin.pages.only_you") %></option>
        <optgroup label="--------">
          <%- @authors.all.each { |a| -%>
              <option value="<%= a.author_id %>" <%= 'selected="selected"' if params[:author] == a.author_id.to_s && a.author_id != current_user.id %>><%= User.find(a.author_id).first_name %> <%= User.find(a.author_id).last_name %></option>
          <%- } -%>
        </optgroup>
      </select>
      <%= submit_tag t("admin.pages.filter"), :name => nil, :class => 'button-small-main', :onclick => 'store_setup();' %>
    </div>
    <div class="span-24 last" style="line-height:1px; clear: both;">
      <!--form action="" method="post" class="inline">
      <div>
        <select id="a5" name="a5" >
          <option value="0"><%= t("admin.pages.bulk_action") %></option>
          <option value="1"><%= t("admin.pages.delete") %></option>
          <option value="2"><%= t("admin.pages.set_as_draft") %></option>
          <option value="3"><%= t("admin.pages.publish") %></option>
        </select>
        <input type="submit" value="submit" class="button"/>
      </div>
    </form-->
      &nbsp;&nbsp;
      <div>
        <% count = select_tag 'per_page',
                              options_for_select(Page.show_on_page, Page.per_page),
                              {:onchange => "this.form.submit();"} %>
        <%= t("admin.pages.show_on_page", :count => count).html_safe %>
      </div>
    </div>
<%- end -%>

<hr />
<br />

<div class="prepend-8 append-8 span-8 large">
  <div class="span-8"><%= will_paginate @pages %></div>
</div>
<div class="span-24 last">
  <table style="border:0 none;border-collapse: collapse;border-spacing: 0;" class="pages-list">
    <caption><%= pagination_info @pages %></caption>
    <thead>
    <tr>
      <th class="span-1"><input type="checkbox" name="selectall" value="select" /></th>
      <th class="span-2"><%= sortable_admin t("admin.pages.status"), 'status' %></th>
      <th class="span-10"><%= sortable_admin t("admin.pages.title"), 'title' %></th>
      <th class="span-2"><%= sortable_admin t("admin.pages.type"), 'page_type' %></th>
      <th class="span-3"><%= sortable_admin t("admin.pages.updated_at"), 'updated_at' %></th>
      <th class="span-3"><%= sortable_admin t("admin.pages.publish_date"), 'publish_at' %></th>
      <th class="span-3 last" colspan="2"><%= t("admin.pages.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <%- @pages.each_with_index { |page, index| -%>
        <%= render :partial => 'page-list', :locals => {:page => page, :even => index % 2 == 1} %>
    <%- } -%>
    </tbody>
  </table>
</div>
<div class="prepend-8 append-8 span-8 large">
  <div class="span-8"><%= will_paginate @pages %></div>
</div>
