<%= form_for @profile, :url => profile_path(@profile), :html => { :multipart => true, :class => 'profile_editor' }, :remote => false do |f| %>
  <ul>
    <li>
      <span id="error_messages">
        <%= f.error_messages :class => 'error', :header_message => nil, :message => nil, :header_tag => :p %>
      </span>
    </li>
    <li>
      <div id="first_name">
        <%= f.label :first_name, t('user.model.first_name') %>
        <%= f.text_field :first_name, :class => '' %>
      </div>
    </li>
    <li>
      <span id="last_name">
        <%= f.label :last_name, t('user.model.last_name') %>
        <%= f.text_field :last_name, :class => '' %>
      </span>
    </li>
    <li>
      <label for='user_gender_female'><%= t('user.model.gender') %></label>
      <%= f.select :gender,
        options_for_select([
          [t('user.model.female'), 'female'],
          [t('user.model.male'), 'male'],
        ], @profile.gender) %>
    </li>
    <li>
      <span id="birthday">
        <label for='user_birthday'><%= t('user.model.birthday') %></label>
        <%= f.select :birthday,
          options_for_select((1900..Time.now.year).to_a.reverse, @profile.birthday || '1980'),
          {:include_blank => 'select'} %>
      </span>
    </li>
    <li>
      <span id="language">
        <%= f.label :language_id, t('user.model.preferred_language') %>
        <%= f.select :language_id,
          options_for_select(Language.options_for_select, @profile.language_id),
          {:include_blank => 'select'} %>
      </span>
    </li>
    <li>
      <%= f.label :avatar, t('user.model.avatar') %>
      <%- unless @profile.new_record? || !@profile.avatar %>
        <%= image_tag @profile.avatar.url(:original), :alt => 'Avatar', :title => 'Current avatar' %>
        <div class="avatar-div">
          <%= f.file_field :avatar %><br/>
          <%= f.check_box :delete_avatar %>
          <%= f.label :delete_avatar, t('user.model.remove_avatar') %>
        </div>
      <%- else -%>
        <%= f.file_field :avatar %>
      <%- end -%>
    </li>
    <li>
      <span id="country">
        <%= f.label :country_id, t('user.model.country') %>
        <%=
        country_id = @profile.country.id if @profile.country
        f.select :country_id,
          options_for_select(Country.options_for_select, country_id),
          {:include_blank => 'Please select'} %>
      </span>
    </li>
    <li>
      <span id="region">
        <%= f.label :region_id, t('user.model.region') %>
        <%=
        country_id = @profile.country.id if @profile.country
        region_id = @profile.region.id if @profile.region
        disabled = country_id == 0
        f.select :region_id,
          options_for_select(Region.options_for_select(country_id), region_id),
          {:include_blank => 'Please select'}, :disabled => disabled %>
      </span>
    </li>
    <li>
      <span id="city">
        <%= f.label :location_id, t('user.model.city') %>
        <%= 
        country_id = @profile.country.id if @profile.country
        region_id = @profile.region.id if @profile.region
        disabled = region_id == 0
        location_id = @profile.location.city.id if @profile.location
        f.select :location_id,
          options_for_select(Location.options_for_select(country_id, region_id), location_id),
          {:include_blank => 'Please select'}, :disabled => true %>
        <input type="hidden" value="<%= @profile.location_id %>" name="user[location_id]" id="user_location_id"/>
      </span>
    </li>
    <li>
      <label><%= t('user.model.receive_notifications') %></label>
      <%= f.select :notifybyemail,
        options_for_select([
          [t('user.model.yes_answer'), 'no'],
          [t('user.model.no_answer'), 'yes'],
        ], @profile.notifybyemail) %>
    </li>
  </ul>
  <hr class="separator"/>
  <div class="clear">
    <%= f.submit t('views.submit'), :class => 'button-middle-main' %>
    <%= link_to t('views.cancel'), stream_url(:stream_filter => :all), :class => 'button-middle-cancel' %>
  </div>
<%- end -%>
<%= javascript_tag <<-JS
$(function (){

jQuery('#first_name').validate({
expression: "if (VAL != '') return true; else return false;",
message: "#{I18n.t 'answer.model.write_an_answer'}"
});
jQuery('#last_name').validate({
expression: "if (VAL != '') return true; else return false;",
message: "#{I18n.t 'answer.model.write_an_answer'}"
});
jQuery('#birthday').validate({
expression: "if (VAL != '') return true; else return false;",
message: "#{I18n.t 'answer.model.select_one_option'}"
});
jQuery('#language').validate({
expression: "if (VAL != '') return true; else return false;",
message: "#{I18n.t 'answer.model.select_one_option'}"
});
jQuery('#country').validate({
expression: "if (VAL != '') return true; else return false;",
message: "#{I18n.t 'answer.model.select_one_option'}"
});
jQuery('#region').validate({
expression: "if (VAL != '') return true; else return false;",
message: "#{I18n.t 'answer.model.select_one_option'}"
});
jQuery('#city').validate({
expression: "if (VAL != '') return true; else return false;",
message: "#{I18n.t 'answer.model.select_one_option'}"
});

});
JS
%>
