<%= form_for @profile, :url => profile_path(@profile), :html => { :multipart => true, :class => 'profile_editor' }, :remote => false do |f| %>
  <ul>
    <li id="error_messages">
      <%= f.error_messages :class => 'error', :header_message => nil, :message => nil, :header_tag => :p %>
    </li>
    <li>
      <%= f.label :first_name, t('user.model.first_name') %>
      <%= f.text_field :first_name, :class => '' %>
    </li>
    <li>
      <%= f.label :last_name, t('user.model.last_name') %>
      <%= f.text_field :last_name, :class => '' %>
    </li>
    <li>
      <label for='user_gender_female'><%= t('user.model.gender') %></label>
      <%= f.select :gender,
        options_for_select([
          [t('user.model.female'), 'female'],
          [t('user.model.male'), 'male'],
        ], @profile.gender) %>
    </li>
    <li>
      <label for='user_birthday'><%= t('user.model.birthday') %></label>
      <%= f.select :birthday,
        options_for_select((1900..Time.now.year).to_a.reverse, @profile.birthday || '1980'),
        {:include_blank => 'select'} %>
    </li>
    <li>
      <%= f.label :language_id, t('user.model.preferred_language') %>
      <%= f.select :language_id,
        options_for_select(Language.options_for_select, @profile.language_id),
        {:include_blank => 'select'} %>
    </li>
    <li>
      <%= f.label :avatar, t('user.model.avatar') %>
      <%- unless @profile.new_record? || !@profile.avatar %>
        <%= image_tag @profile.avatar.url(:original), :alt => 'Avatar', :title => 'Current avatar' %>
        <div class="avatar-div">
          <%= f.file_field :avatar %><br/>
          <%= f.check_box :delete_avatar %>
          <%= f.label :delete_avatar, t('user.model.remove_avatar') %>
        </div>
      <%- else -%>
        <%= f.file_field :avatar %>
      <%- end -%>
    </li>
    <li>
      <%= f.label :country_id, t('user.model.country') %>
      <%= id = @profile.country ? @profile.country.id : 0
      f.select :country_id,
        options_for_select(Country.options_for_select, id),
        {:include_blank => 'Please select'} %>
    </li>
    <li>
      <%= f.label :location_id, t('user.model.city') %>
      <%= loc = @profile.location ? @profile.location.city : ' '
      text_field_tag :user_location, loc, :disabled => true,
        :autocomplete => autocomplete_location_city_profiles_path
    %>
      <input type="hidden" value="<%= @profile.location_id %>" name="user[location_id]" id="user_location_id"/>
    </li>
    <li>
      <label><%= t('user.model.receive_notifications') %></label>
      <%= f.select :notifybyemail,
        options_for_select([
          [t('user.model.yes_answer'), 'no'],
          [t('user.model.no_answer'), 'yes'],
        ], @profile.notifybyemail) %>
    </li>
  </ul>
  <hr class="separator"/>
  <div class="clear">
    <%= f.submit t('views.submit'), :class => 'button-middle-main' %>
    <%= f.submit t('views.cancel'), :class => 'button-middle-cancel' %>
  </div>
<%- end -%>
<%= javascript_tag "
$(function (){
$('#user_country_id').change(function(){
enable_city(this);
});
if ($('#user_country_id').val() != ''){ // It may be already selected
enable_city($('#user_country_id'), false);
}
});
"
%>
