<%= widget_div do %>
	<%- if current_user.is_stream_manager? || current_user.is_admin? -%>
		<div id="stream_admin" style="margin-bottom:15px">
			<a class="apotomo-click" href="#" data-event-url="<%= url_for_event(:display_images) %>"><%= t('kabtv.admin.stream_images') %></a> |
			<a class="apotomo-click" href="#" data-event-url="<%= url_for_event(:display_qualities) %>"><%= t('kabtv.admin.qualities') %></a> |
			<a class="apotomo-click" href="#" data-event-url="<%= url_for_event(:display_presets) %>"><%= t('kabtv.admin.stream_presets') %></a>
			<% if current_preset %>
			 |
			<a class="apotomo-click" href="#" data-event-url="<%= url_for_event(:display_switcher) %>"><%= t('kabtv.admin.stream_switcher') %></a>
			<% end %>
		</div>
	<% end %>
	<%= rendered_children["current_state"]	%>
	<%= rendered_children[admin_display_mode]	%>
<% end %>

<div class="clear"></div>
<script type="text/javascript" charset="utf-8">
function update_state(){
    $.ajax({url:<%= url_for_event(:update_current_state) %>})
	<%#= trigger_event(:update_current_state).html_safe %>;
}
setInterval('update_state()', 45000);
</script>