<%= widget_div do %>
	<%- if current_user.is_stream_manager? || current_user.is_admin? -%>
		<div id="stream_admin" style="margin-bottom:15px">
			<a href="#" onclick="<%= trigger_event(:display_images) %>; return false;"><%= t('kabtv.admin.stream_images') %></a> | 	
			<a href="#" onclick="<%= trigger_event(:display_presets) %>; return false;"><%= t('kabtv.admin.stream_presets') %></a>
			<% if current_preset %>
			 | 	
			<a href="#" onclick="<%= trigger_event(:display_switcher) %>; return false;"><%= t('kabtv.admin.stream_switcher') %></a>
			<% end %>
		</div>
	<% end %>
	<%= rendered_children["current_state"]	%>
	<%= rendered_children[admin_display_mode]	%>
<% end %>

<div class="clear"></div>