<%= widget_div do %>
	<div id="stream_admin" style="margin-bottom:15px">
	<a href="#" onclick="<%= trigger_event(:display_images) %>; return false;"><%= t('kabtv.admin.stream_images') %></a> | 	
	<a href="#" onclick="<%= trigger_event(:display_presets) %>; return false;"><%= t('kabtv.admin.stream_presets') %></a>	
	</div>
	<%= rendered_children[admin_display_mode]	%>
<% end %>

<div class="clear"></div>