<!--div class="widget-blog">
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 6,
      interval: 6000,
      width: 201,
      height: 300,
      theme: {
        shell: {
          background: '#aaaaaa',
          color: '#1f0c1f'
        },
        tweets: {
          background: '#ffffff',
          color: '#666666',
          links: '#003e74'
        }
      },
      features: {
        scrollbar: true,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('kabcast').start();
    </script>
</div-->
<div class="widget-blog">
  <ul>
    <%- if params[:locale] == 'he' -%>
        <li><%= link_to 'לוח אירועים מרכזיים שנתי', 'https://spreadsheets.google.com/ccc?hl=ru&key=tnfWTye98fPiWt1JDXl50NQ&authkey=CIy-qroK&hl=ru#gid=0', :target => '_blank' %></li>
        <li><%= link_to 'לוח דרושים - השתתפות בהפצה', 'http://www.kab.co.il/kabbalah/%D7%94%D7%A9%D7%AA%D7%AA%D7%A4%D7%95%D7%AA-%D7%91%D7%94%D7%A4%D7%A6%D7%AA-%D7%97%D7%9B%D7%9E%D7%AA-%D7%94%D7%A7%D7%91%D7%9C%D7%94?utm_source=sviva-tova&utm_medium=link&utm_campaign=hafaza', :target => '_blank' %></li>
    <%- elsif params[:locale] == 'ru' -%>
        <li><%= link_to 'Cтажировка в Бней Барух', "https://sites.google.com/site/internshipsinthebneibaruch/", :target => '_blank' %></li>
        <li><%= link_to 'Календарь мероприятий', "https://spreadsheets.google.com/ccc?hl=ru&key=tnfWTye98fPiWt1JDXl50NQ&authkey=CIy-qroK&hl=ru#gid=2", :target => '_blank' %></li>
        <li><%= link_to 'Держим курс', "http://www.kabbalahgroup.info/rus/new/", :target => '_blank' %></li>
        <li><%= link_to 'Читаем каббалистические тексты', "http://www.kabhebrew.info/", :target => '_blank' %></li>
    <%- elsif params[:locale] == 'es' -%>
        <li><%= link_to 'Seguimos navegando', "http://www.kabbalahgroup.info/spa/new/", :target => '_blank' %></li>
        <li><%= link_to 'La lectura de los textos cabalísticos', "http://www.kabhebrew.info/spanish_1.htm", :target => '_blank' %></li>
    <%- else #params[:locale] == 'en' -%>
        <li><%= link_to 'Calendar of Major Events', "https://spreadsheets.google.com/ccc?hl=en&key=tnfWTye98fPiWt1JDXl50NQ&authkey=CIy-qroK&hl=en#gid=6", :target => '_blank' %></li>
        <li><%= link_to 'We read the kabbalistic texts', "http://www.kabhebrew.info/english_1.htm", :target => '_blank' %></li>
  <%- end -%>
  </ul>
</div>
<div class="widget-blog">
  <h4><%= link_to t('home.views.blog_title').html_safe, t('home.views.blog'), :class => 'in-wide-iframe' %></h4>
  <hr/>
  <ul>
    <% @feed.items[0..10].each { |item| %>
        <li>
          <%= link_to item.title, item.link, :class => @link_class %>
          <span><%= t("stream.posted_ago", :when => time_ago_in_words(item.time)) %></span>

        </li>
    <% } %>
  </ul>
  <%= link_to t("stream.read_all"), t('home.views.blog'), :class => 'more_link in-wide-iframe' %>
</div>
