<%-
  local_day_names = I18n.t 'date.abbr_day_names'
-%>
<%= widget_div do -%>
  <div class="days">
    <%- @days.each{ |day| -%>
      <%=
      local_day = local_day_names[Date::DAYNAMES.index(day)]
      link_to local_day, '#', :onclick => "kabtv.schedule.show_day(this, '#{day}'); return false;",
      :class => "A_#{day}"
    %>
    <%- } -%>
  </div>
  <div class="weekdays">
    <%- @days.each{ |day| -%>
      <div class="weekday D_<%= day %>">
        <%= @schedules[day] %>
      </div>
    <%- } -%>
  </div>
<%- end -%>

<script type="text/javascript">
  $(function (){
    $(".weekdays>div").hide();
    $(".D_<%= Date::DAYNAMES[Date.today.wday] %>").show();
    $(".days a.A_<%= Date::DAYNAMES[Date.today.wday] %>").addClass('active');;
  });
</script>
