<%
   if user_signed_in?
     hi = "#{current_user.first_name} #{current_user.last_name}"
   else
     hi = ''
   end
%>
<% content_for :toolbar do %>
<h2 class="fleft"><%= t('profile.views.dear') %> <%= hi %>,</h2>
<p>&nbsp;<%= t('profile.views.please_change_password') %>: <span class="required">*</span>)</p>
<% end %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	<ul>
		<%= devise_error_messages! %>
		<%= f.hidden_field :reset_password_token %>

		<li><%= t 'devise.views.password' %>
			<ul><li><%= f.password_field :password %></li></ul>
		</li>

		<li><%= t 'devise.views.confirm_new_password' %>
			<ul></li><%= f.password_field :password_confirmation %></li></ul>
		</li>
	</ul>
  <div class="clear"></div>
  <hr/>
  <%= f.submit t('devise.views.change_my_password'), :class=>:submission %>
  <%= link_to t('views.cancel'), dashboard_url, :class => 'ui-button ui-widget ui-state-default ui-corner-all' %>
<% end %>
