<div class="content-actions">
  <span><%= I18n.t("stream.mark_as") %>:</span> 
  <% if page.is_read?(current_user) %>
  <%= I18n.t("stream.read") %> | <%= link_to I18n.t("stream.unread"), toggle_is_read_page_url(page), :remote => true, :method => :put %>
  <% else %>
  <%= link_to I18n.t("stream.read"), toggle_is_read_page_url(page), :remote => true, :method => :put %> | <%= I18n.t("stream.unread") %>
  <% end %>
</div>