<tr style="border-bottom:3px solid white" onmouseover="$(this).css('background-color', '#f2f2f2').find('input').css('background-color', '#f2f2f2');" onmouseout="$(this).css('background-color', 'transparent').find('input').css('background-color', 'transparent');">
	<td><%= stream_images.hidden_field :id %>
  <%= stream_images.text_field :name, :style => "width:150px;font-size:11px;margin-right:4px;" %></td>
	<td><%= stream_images.select :language_id, Language.all.collect{|l|[ l.language, l.id]}, {}, :style => "font-size:11px;padding:0 !important;margin-right:4px;" %></td>
	<td><%= stream_images.select :stream_state_id, StreamState.all.collect{|l|[ l.name.humanize, l.id]}, {}, :style => "font-size:11px;padding:0 !important;margin-right:4px;" %></td>
	<td><%= stream_images.text_field :filename, :style => "width:200px;font-size:11px;direction:ltr;" %></td>
	<td style="width:20px;vertical-align:middle;"><%= link_to_remove_fields image_tag('icons/remove_icon.png', :style => 'width:16px; margin:0 auto;'), stream_images %></td>
</tr>
