<% if user_signed_in? %>
  <% content_for :toolbar do %>
    <h2 class="fleft"><%= t('profile.views.dear') %> <%= current_user.first_name %> <%= current_user.last_name %></h2>
  <% end %>

  <table class="homepage-table list_of_questionnaires">
    <tr>
      <th colspan="4" class="ta-center"><h3><%= t('home.views.last_10_questionnaires') %></h3></th>
    </tr>
    <tr>
      <th class="ta-center"><%= t('home.views.date')%></th>
      <th class="ta-center"><%= t('home.views.title')%></th>
      <th class="ta-center"></th>
      <th class="ta-center"><%= t('home.views.status')%></th>
    </tr>
    <%- @last_10_questionnaires.each {|q| -%>
      <tr>
        <td class="date ta-center"><%= l q[:date], :format => :short %></td>
        <td class="ta-left">
          <%= link_to(truncate(q[:title], :length => 40), new_questionnaire_answer_url(:questionnaire_id => q[:id])) %>
        </td>
        <td>&nbsp;</td>
        <td class="ta-right <%= q[:answered] ? 'ui-state-highlight' : 'ui-state-error'%>">
          <%= q[:answered] ? t('home.views.answered') : t('home.views.not_answered') %>
        </td>
      </tr>
    <%- } -%>
  </table>

  <%= statistics(new_statistic_url, 'stats', 'reg-vs-active', @start, @finish) %>
  <div class="clear"></div>

  <table class="homepage-table blog-table">
    <tr>
      <th class="date ta-center"><%= t('home.views.date') %></th>
      <th class="ta-center"><%= t('home.views.blog') %> "<a href="<%= @feed.link %>"><%= @feed.title %></a>"</th>
    </tr>

    <% @feed.items[0..10].each { |item| %>
      <tr>
        <td class="date ta-center"><%= l item.time, :format => :short %></td>
        <td class="ta-left"><a href="<%= item.link %>" class="poplight"><%= item.title %></a></td>
      </tr>
    <% } %>
  </table>
<% end %>
