<%- content_for :content_width do -%>content-wide<%- end -%>
<%- content_for :hide_widgets do -%>please do not display widgets!!!<%- end -%>
<%= render 'shared/breadcrumbs', :page => @page -%>
<div class="content-stream event-stream">
  <%= render 'shared/content_actions', :page => @page -%>
  <div class="tabs">
    <!--span class="active"><%= link_to 'Stream', '#', :remote => true -%></span>
    <span><%= link_to 'Gallery', '#', :remote => true -%></span-->
  </div>
  <div class="bgnd">
    <%- if @page.tags(@locale)[0] == 'webrtc' -%>
        <%= render_widget 'webrtc_container' -%>
    <%- elsif @page.tags(@locale)[0] == 'webrtc4' -%>
        <%= render_widget 'webrtc4_container' -%>
    <%- else -%>
        <%= render_widget 'stream_container' -%>
    <%- end -%>
    <div class="clear"></div>
  </div>
  <%- if current_user.is_stream_manager? || current_user.is_admin? || current_user.is_stream_operator? -%>
      <span style="float:right;margin-left:30px;"><%= link_to 'Manage', '#', :onclick => "$('.admin').toggle(); return false;" %></span>
      <div class="admin"><%= render_widget 'stream_admin' -%></div>
  <%- end -%>
  <div class="clear"></div>
</div>
