<h2><%= t('devise.views.resend_confirmation_instructions') %></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name),
             :html=>{:onsubmit=>"return val_password_fields_on_submit();"}) do |f| %>
  <ul>
    <%= devise_error_messages! %>

    <li>
      <%= t('devise.views.email') %>
      <ul><li><%= f.text_field :email, :class => 'text-input short-input' %></li></ul>
    </li>

  </ul>
  <div class="clear"></div>
  <hr/>
  <%= f.submit t('devise.views.resend_confirmation_instructions') %>
  <%= link_to t('views.cancel'), dashboard_url, :class => 'ui-button ui-widget ui-state-default ui-corner-all' %>

    <script type="text/javascript">
        function val_password_fields_on_submit() {
            var arrElm = ["user_email"];
            trim_val_of_elements(arrElm);
            return true;
        }
    </script>

<% end %>
