<div class="column-content">
  <div class="edit-stream">
    <h1><%= @page.title %></h1>
    <div class="description"><%= @page.description.html_safe %></div>

    <%= form_for @page do |f|%>
      <%= f.error_messages :header_message => t('questionnaire_answer.views.all_fields_are_required'),
        :message => false, :header_tag => :h3 %>
      <%= f.fields_for :questionnaire_answers, @questionnaire_answers do |f_qa|%>
        <div style="margin: 0; padding: 0; display: inline;">
          <%= f_qa.hidden_field :author_id %>
        </div>
        <% @page.assets.each_with_index do |asset, index|%>
          <div class="item">
            <%= render :partial => "pages/assets/#{asset.resource_type.downcase}", :locals => {:question => asset.resource, :builder => f_qa, :index => index} %>
          </div>
        <% end %>
      <% end %>
      <%- if @page.page_type == 'assignment' -%>
        <hr/>
        <div><%= f.submit t('views.submit'), :class => 'button-small-main' %></div>
      <%- end %>
    <%- end %>
  </div>
  <div class="clear"></div>
</div>
