<div class="header">
  <div class="logo">
    <%= link_to image_tag('/images/logo.png'), "/internet/#{I18n.locale}/", :title => t('home.views.site_name') , :alt => nil -%>
    <h1><%= t('home.views.site_name') %></h1>
  </div>
  <form class="float_right" action="#" method="get" accept-charset="utf-8">
    <p>
      <% if user_signed_in?
        suffix = ''
      else
        suffix = '/users/login'
      end
      locale = I18n.locale.to_s
    %>
      <select name="languages" id="languages" onchange="change_language()">
        <% Language.all.each { |l| %>
          <option <%= 'selected="selected"'.html_safe if l.locale == locale %> value="<%= root_path(l.locale) + suffix %>"><%= l.language %></option>
        <% } %>
      </select>
    </p>
  </form>
  <div class="header-menu">
    <%= link_to t("stream.home"), stream_path(:stream_filter => 'all') %>
    <%- if user_signed_in? -%>
      |
      <%= link_to t('home.views.edit_profile'), edit_profile_url(@profile), :remote => true if @profile %> |
      <%- if current_user.user_has_access_to_admin? -%>
        <%= link_to t('home.views.admin'), admin_pages_path %> |
      <%- end -%>
      <%= link_to t('views.signout'), destroy_user_session_path, :title => t('views.signout') %>
    <%- end -%>
  </div>
</div>
