<div id="throbber" ><%= t('home.views.loading') %></div>
<div class="header">
  <div class="logo">
    <%= link_to image_tag("/images/logo-#{I18n.locale}.png"), :root, :title => t('home.views.site_name') , :alt => nil -%>
    <h1><%= t('home.views.site_name') %></h1>
  </div>
  <form action="#" method="get" accept-charset="utf-8">
    <p>
      <% if user_signed_in?
        suffix = ''
      else
        suffix = '/users/login'
      end
      locale = I18n.locale.to_s
    %>
      <select name="languages" id="languages" onchange="change_language()">
        <% Language.all.each { |l| %>
          <option <%= 'selected="selected"'.html_safe if l.locale == locale %> value="<%= root_path(l.locale) + suffix %>"><%= l.language %></option>
        <% } %>
      </select>
    </p>
  </form>
  <div class="header-menu">
    <%= link_to t("stream.home"), :root %>
    <%- if user_signed_in? -%>
      |
      <%= link_to t('home.views.edit_profile'), edit_profile_url(current_user), :class => 'data-remote' %> |
      <%- if current_user.is_restricted? -%>
        <%= link_to t('home.views.admin'), admin_panel_url %> |
      <%- end -%>
      <%= link_to t('views.signout'), destroy_user_session_path, :title => t('views.signout') %>
    <%- end -%>
  </div>
</div>

<% if Rails.configuration.enable_comet %>
  <%= javascript_include_tag ['stream_widget/stream_comet_update.js'] %>

	<script type="text/javascript">
	  function publish_stream_preset_4_comet() {
	    function publish_data_to_comet(data) {
	        if (typeof(stream_comet_update_app) != "undefined"
	            && stream_comet_update_app != null) {
	            stream_comet_update_app.update_others(data);
	        }
	    }

	    $.ajax({
	        url: kabtv.tabs.url_for_presets_update,
	        data: {
	            timestamp: kabtv.tabs.timestamp,
	            stream_url: $("select#quality").val()
	        },
	        success: publish_data_to_comet
	    });
	}

	var stream_comet_update_app = null;
	function delayedUpdataAppInit() {
		if (comet_app.isConnected()) {
	    stream_comet_update_app = new $.SteamCometUpdateApp(comet_app);
	  } else {
	  	setTimeout(delayedUpdataAppInit, 1000)
	  }
	}

	$(document).ready(function() {
		delayedUpdataAppInit();
	});
<% else %>
    <script type="text/javascript">
        var stream_comet_update_app = null;
    </script>
<% end %>

</script>
