<div class="header">
  <div class="logo">
    <a href=""><img src="/images/logo.png" alt="hamakom" /></a>
    <h1>Hamakom</h1>
  </div>
  <form class="float_right" action="#" method="get" accept-charset="utf-8">
    <p>
      <% if user_signed_in?
        suffix = ''
      else
        suffix = '/users/login'
      end
      locale = I18n.locale.to_s
    %>
      <select name="languages" id="languages" onchange="change_language()">
        <% Language.all.each { |l| %>
          <option <%= 'selected="selected"'.html_safe if l.locale == locale %> value="<%= root_path(l.locale) + suffix %>"><%= l.language %></option>
        <% } %>
      </select>
    </p>
  </form>
  <div class="header-menu">
    <%= link_to "Home", stream_path(:stream_filter => 'all') %> |
    <%- if user_signed_in? -%>
      <%= link_to t('home.views.edit_profile'), edit_profile_url(@profile) %> |
      <%= link_to t('views.signout'), destroy_user_session_path, :title => t('views.signout') %>
    <%- else -%>
      <%= link_to t('views.login'), new_user_session_path, :title => t('views.login') %>
    <%- end -%>
  </div>
</div>
