<% last_page = @pages.last %>
<%- @pages.each {|page| -%>
  <div id="page-<%= page.id %>" class="item <%= 'sticky_item' if page.is_sticky %>">
    <h2 class="<%= is_answered_css(page) %> icon"><span></span><%= link_to page.title, page_url(page), :class => 'in-iframe', :title => page.title %></h2>
    <%= page[:description].html_safe %>
    <%= link_to t("stream.read_all").html_safe, page_url(page), :class => 'in-iframe more_link', :title => page.title %>
    <p class="item-metadata"><%= t("stream.posted_ago", :when => time_ago_in_words(page.publish_at)) %></p>
    <p class="tags">
      <%= render :partial => 'tag', :collection => page.tags(I18n.locale) %>
    </p>
    <%- if last_page != page -%>
      <hr />
    <%- end -%>
  </div>
<%- } -%>
<%= link_to t("stream.more_items").html_safe,
  stream_path(:stream_filter => @stream_filter, :modifier => @modifier, :skip_pages => @skip_pages),
  :class => :more_items, :remote => true if @has_more_items%>
