<div class="content-submenu">
  <%= link_to 'New Items', stream_path(:stream_filter => @stream_subclass, :modifier => 'new'), :remote => true %>
  |
  <%= link_to 'All Items', stream_path(:stream_filter => @stream_subclass, :modifier => 'all'), :remote => true %>
</div>
<div class="content-stream">
  <%- @pages.each{|page| -%>
    <div class="item <%= 'sticky_item' if page.is_sticky %>">
      <h2 class="assignment-icon-new icon"><span></span><%= link_to page.title, page_url(page) %></h2>
      <%= page[:description].html_safe %>
      <p class="item-metadata">Posted 2 minutes ago</p>
      <p class="tags">
        <%= render :partial => 'tag', :collection => page.tags(I18n.locale) %>
      </p>
      <hr />
    </div>
  <%- } -%>
</div>
