<div class="content-submenu">
  <% unless @is_tag || @is_bookmark %>
    <%= t("stream.filter")%>:&nbsp; <%= link_to t("stream.new_items"), stream_path(:stream_filter => @stream_subclass, :modifier => 'new'), :class => 'data-remote' %>
    &nbsp;|&nbsp;
    <%= link_to t("stream.all"), stream_path(:stream_filter => @stream_subclass), :class => 'data-remote' %>
  <% end %>
    <%#- if Rav doesn't use this, and no one else too... # current_user.is_rav_posting? || current_user.is_frontend_editor? || current_user.is_admin? -%>
    	<%#= link_to "#{t('admin.pages.create_new')} #{t('admin.pages.message')}", '#', :onclick => '$("#hiddenEditor").slideDown("slow"); return false;', :class => 'rav_create_new' %>
		<%# end %>
</div>
<div class="content-stream">
	<%- if current_user.is_rav_posting? || current_user.is_frontend_editor? || current_user.is_admin? -%>
		<%= render_widget 'pages_admin' %>
	<% end %>

  <%= render('page_stream') %>
</div>


