<div class="content-submenu">
  <% unless @is_tag || @is_bookmark %>
    <%= t("stream.filter")%>:&nbsp; <%= link_to t("stream.new_items"), stream_path(:stream_filter => @stream_subclass, :modifier => 'new'), :class => 'data-remote' %>
    &nbsp;|&nbsp;
    <%= link_to t("stream.all"), stream_path(:stream_filter => @stream_subclass), :class => 'data-remote' %>
  <% end %>

    <%= link_to "#{t('admin.pages.create_new')} #{t('admin.pages.message')}", '#', :onclick => '$("#hiddenEditor").slideDown("slow"); return false;', :class => 'rav_create_new' %>
</div>
<div class="content-stream">
  <%= render('page_stream') %>
</div>


