<%
src = if @profile.avatar.instance.avatar_file_size
  @profile.avatar.url(:thumb)
else
  "/images/user-#{@profile.gender}.png"
end
%>

<div class="widget-profile">
  <%= image_tag src, :class => 'avatar' %>
  <div>
    <%= link_to t('home.views.edit_profile'), edit_profile_url(@profile) %> | <%= link_to t('views.signout'), destroy_user_session_path, :title => t('views.signout') %>
  </div>
  <h5><%= @profile.first_name %> <%= @profile.last_name %></h5>
</div>
