<%-
locale = @questionnaire.language.locale
-%>
<div dir="<%= locale == 'he' ? 'rtl' : 'ltr' %>">
  <h3><%= t('notification.views.hi') %>, <%= "#{@user.first_name} #{@user.last_name}"%>!</h3>

  <p><%= t('notification.views.you_got_new_questionnaire')%>:<br/>
    <%= link_to @questionnaire.title, new_questionnaire_answer_url(:locale => locale, :questionnaire_id => @questionnaire.id) %>
  </p>
  <p><%= t('notification.views.click_above_link_to_answer')%></p>
</div>