= @problem['message']
%br
%br
User:
= @user.first_name
= @user.last_name
%br
Email:
= @user.email
%br
Remote IP:
= @remote_ip
%br
Locale:
= @locale
%br
%br
Watching:
%br
Event:
!= @problem.simulator_breadcrumb
%br
Language:
= @problem.language.language
(
= @problem.language.locale
)
%br
Technology:
= @problem.technology.name
%br
Stream:
= @problem.quality_url
%br
%br
Preferred Language:
= @user.language.try(:language)
%br
Location:
= @user.country.try(:name)
= @user.region.try(:name)
= @user.location.try(:city)
%br
%br
- @problem.attributes.each do |key, val|
  = key
  \=
  != val
  %br
