= @problem['message']


Remote IP:
= @remote_ip
Locale:
= @locale

User:
= @problem.user.first_name
= @problem.user.last_name

Email:
= @problem.user.email

Preferred Language:
= @user.language.try(:language)

Location:
= @user.country.try(:name)
= @user.region.try(:name)
= @user.location.try(:city)

Watching:
Event:
= @problem.simulator_breadcrumb
Language:
= @problem.try(:language)
Technology:
= @problem.try(:technology)
Stream:
= @problem.try(:quality)

Preferred Language:
- @problem.attributes.each do |key, val|
  = "#{key} = #{val}\n"
