<%= widget_div do %>
  <% if @stream_preset %>
    <%= form_for @stream_preset, :as => :stream_preset, :url => url_for_event(:submit), :remote => true do |f| -%>
      <%= f.hidden_field :id %>
      <%= f.label :name, I18n.t('kabtv.admin.preset_name') %>
      <%= f.text_field :name %>
      <%= f.label I18n.t('kabtv.admin.is_active') %>
      <%= f.check_box :is_active %>
      <fieldset class="show_tabs">
        <legend> <%= I18n.t('kabtv.admin.show') %> </legend>
        <%= f.label I18n.t('kabtv.admin.show_questions') %>:
        <%= f.check_box :show_questions %>
        <%= f.label I18n.t('kabtv.admin.show_schedule') %>:
        <%= f.check_box :show_schedule %>
        <%= f.label I18n.t('kabtv.admin.show_sketches') %>:
        <%= f.check_box :show_sketches %>
        <%= f.label I18n.t('kabtv.admin.show_support') %>:
        <%= f.check_box :show_support %>
        <br/>
        <%= f.label I18n.t('kabtv.admin.show_separate_window') %>:
        <%= f.check_box :show_separate_window %>
      </fieldset>
      <div style="overflow: auto;height:260px;margin-bottom: 10px;border-bottom: 2px solid #aaa;">
        <table id="presets-table" style="border-collapse: collapse;border-spacing: 0;font-size:10px;margin: 10px 0 0;">
          <caption></caption>
          <thead>
            <tr>
              <th style="font-weight:normal;"><%= I18n.t('kabtv.admin.description') %></th>
              <th style="font-weight:normal;"><%= I18n.t('kabtv.admin.language') %></th>
              <th style="font-weight:normal;"><%= I18n.t('kabtv.admin.stream_URL') %></th>
              <th style="font-weight:normal;"><%= I18n.t('kabtv.admin.inactive_image') %></th>
              <th style="font-weight:normal;"><%= I18n.t('kabtv.admin.default') %></th>
              <th style="font-weight:normal;">X</th>
            </tr>
          </thead>

          <%= f.fields_for :stream_items do |stream_items| -%>
            <%= render :partial => "stream_items", :locals => { :stream_items => stream_items } %>
          <% end -%>
        </table>
      </div>
      <p style='float: left;margin-left: 150px;'><%= link_to_add_fields I18n.t('kabtv.admin.add_stream_item'), f, :stream_items %></p>
      <%= f.submit I18n.t('kabtv.admin.submit'), :style => 'float: right;', :class => 'button-small-main', :disable_with => I18n.t('kabtv.admin.submitting') %>

    <% end -%>
  <% else %>
    <div>
      <%= I18n.t('kabtv.admin.select_preset_or_add') %>
    </div>
  <% end %>
  <div class="clear"></div>
<% end -%>

<script type="text/javascript">
  function add_field(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    content = content.replace(regexp, new_id)
    $('#presets-table').append(content);
  }

  function remove_field(link, is_new_record) {
    $(link).closest("div.add_other").children("p.add_other").children("a").show();
    if(is_new_record){
      $(link).parent().parent().remove();
    }
    else{
      $(link).prev("input[type=hidden]").val("1");
      $(link).parent().parent().hide();
    }
  }
  $('#preset_list li').live('click', function(){
    $('#preset_list li').css('font-weight', 'normal');
    $(this).css('font-weight', 'bold');
  });
</script>
