<%= widget_div do -%>
    <div class="player">
      <div class="support">
        <%- group = I18n.locale == :ru ? 1 : (I18n.locale == :he ? 3 : (I18n.locale == :es ? 4 : 2)) %>
        <a onclick="if(navigator.userAgent.toLowerCase().indexOf('opera') != -1 && window.event.preventDefault) window.event.preventDefault();this.newWindow = window.open('http://live.kab.tv/client.php?locale=<%= I18n.locale %>&amp;style=silver<%= I18n.locale == :he ? '_he' : ''%>&amp;group=<%= group %>&amp;url='+escape(document.location.href)+'&amp;referrer='+escape(document.referrer), 'mibew', 'toolbar=0,scrollbars=0,location=0,status=1,menubar=0,width=640,height=480,resizable=1');this.newWindow.focus();this.newWindow.opener=window; pageTracker._trackEvent('Links', 'Inbound', 'Help_Button'); return false;" target="_blank" href="http://live.kab.tv/client.php?locale=<%= I18n.locale %>&amp;style=silver<%= I18n.locale == :he ? '_he' : '' %>&amp;group=<%= group %>" rel="nofollow">
          <%= t('kabtv.kabtv.technical_support') %>
          <div class="online-status"></div>
        </a>
      </div>
      <div class="video-js vjs-default-skin">
        <div class="vjs-control-bar vjs-control-bar-top">
          <select id="bitratelist"></select>
          <select id="langlist"></select>
        </div>
        <video id="remoteVideo" autoplay></video>
        <audio id="remoteAudio" autoplay></audio>
        <div class="vjs-control-bar">
          <div id="fullscreenbtn" class="vjs-fullscreen-control vjs-control"></div>
          <div class="vjs-volume-control vjs-control">
            <div class="vjs-volume-bar vjs-slider">
              <input id="volumeslider" class="vjs-volume-level" type="range" min="0" max="100" value="100" step="1"/>
            </div>
          </div>
          <div id="mutebtn" class="vjs-mute-control vjs-control vjs-vol-3"></div>
        </div>
      </div>
    </div>
    <div class="services" style="overflow:auto;">
      <div class="tabs">
        <span class="questions"><%= link_to I18n.t('kabtv.kabtv.questions'), '#', :onclick => 'return kabtv.tabs.select_me(this, "questions")' %></span>
        <span><%= link_to I18n.t('kabtv.kabtv.sketches'), '#', :onclick => 'return kabtv.tabs.select_me(this, "sketches")' %></span>
      </div>
      <div class="content">
        <%= rendered_children.values.join("\n").html_safe %>
      </div>
    </div>
    <%= form_for @user_complain, :as => :user_complain, :url => user_complains_url, :method => :post, :remote => true,
                 :html               => { :style => "clear:both;width: 310px;display: block;margin: 50px auto 0;#{@locale == 'he' ? 'float: right; margin: 50px 40px 0 0; width: 325px;' : 'float: left; margin: 50px 0 0 40px; width: 325px;'}" } do |f| -%>
        <h3 style="text-align: inherit;"><%= I18n.t "kabtv.kabtv.describe_problem" %>:</h3>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :user_agent %>
        <%= f.hidden_field :platform %>
        <%= f.hidden_field :oscpu %>
        <%= f.hidden_field :buildid %>
        <%= f.hidden_field :plugins %>
        <%= f.hidden_field :language_id %>
        <%= f.hidden_field :technology_id %>
        <%= f.hidden_field :quality_url %>
        <%= f.hidden_field :simulator_breadcrumb %>
        <%= f.text_area :message, :style => 'width: 100%; height: 4em; padding:0;' %>
        <%= f.submit I18n.t('kabtv.admin.submit'), :style => "display:block; float: #{@locale == 'he' ? 'left' : 'right'}", :class => 'button-small-main',
                     :disable_with                        => I18n.t('kabtv.admin.submitting'), :onclick => 'return validate_form();' %>
    <% end %>
<%- end -%>
<style type="text/css">
  #throbber {
    display: none !important;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 3.8px 0;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #aaa;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #444444;
    height: 16px;
    width: 10px;
    border-radius: 3px;
    background: #66a8cc;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #aaa;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #444444;
    height: 16px;
    width: 10px;
    border-radius: 3px;
    background: #66a8cc;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }

  input[type=range]::-ms-fill-upper {
    background: #aaa;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }

  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #444444;
    height: 16px;
    width: 10px;
    border-radius: 3px;
    background: #66a8cc;
    cursor: pointer;
    height: 8.4px;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #aaa;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #aaa;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 3.8px 0;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #aaa;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #888888;
    height: 16px;
    width: 10px;
    border-radius: 3px;
    background: #66a8cc;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #5e9cd1;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #aaa;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #888888;
    height: 16px;
    width: 10px;
    border-radius: 3px;
    background: #66a8cc;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: #1d4465;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }

  input[type=range]::-ms-fill-upper {
    background: #aaa;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }

  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #888888;
    height: 16px;
    width: 10px;
    border-radius: 3px;
    background: #66a8cc;
    cursor: pointer;
    height: 8.4px;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #aaa;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #5e9cd1;
  }

  .layout-stream .event-stream .bgnd .player {
    height: auto;
  }

  .video-js .vjs-control-bar {
    display: block;
  }

  #remoteVideo {
    width: 354px;
    height: 226px;
    margin: 30px 0 24px;
  }

  .he #bitratelist {
    float: right;
  }

  #bitratelist {
    height: 28px;
    margin: 1px 0 0 1px;
  }

  #langlist {
    height: 28px;
    margin: 1px 0 1px 0;
  }

  .he #langlist {
    float: left;
  }

  /* Make the CDN fonts accessible from the CSS */
  @font-face {
    font-family: 'VideoJS';
    src: url('http://vjs.zencdn.net/f/1/vjs.eot');
    src: url('http://vjs.zencdn.net/f/1/vjs.eot?#iefix') format('embedded-opentype'),
    url('http://vjs.zencdn.net/f/1/vjs.woff') format('woff'),
    url('http://vjs.zencdn.net/f/1/vjs.ttf') format('truetype');
  }

  .vjs-default-skin {
    color: #cccccc;
  }

  .vjs-default-skin .vjs-slider {
    /* Replace browser focus hightlight with handle highlight */
    outline: 0;
    position: relative;
    cursor: pointer;
    padding: 0;
    /* background-color-with-alpha */
    background-color: #333333;
    background-color: rgba(51, 51, 51, 0.9);
  }

  .vjs-default-skin .vjs-slider:focus {
    /* box-shadow */
    -webkit-box-shadow: 0 0 2em #ffffff;
    -moz-box-shadow: 0 0 2em #ffffff;
    box-shadow: 0 0 2em #ffffff;
  }

  .vjs-default-skin .vjs-slider-handle {
    position: absolute;
    /* Needed for IE6 */
    left: 0;
    top: 0;
  }

  .vjs-default-skin .vjs-slider-handle:before {
    content: "\e009";
    font-family: VideoJS;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    text-shadow: 0em 0em 1em #fff;
    position: absolute;
    top: 0;
    left: 0;
    /* Rotate the square icon to make a diamond */
    /* transform */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* Control Bar
  --------------------------------------------------------------------------------
  The default control bar that is a container for most of the controls.
  */
  .vjs-default-skin .vjs-control-bar-top {
  }

  .vjs-default-skin .vjs-control-bar {
    position: absolute;
    /* Place control bar at the bottom of the player box/video.
       If you want more margin below the control bar, add more height. */
    bottom: 0;
    /* Use left/right to stretch to 100% width of player div */
    left: 0;
    right: 0;
    /* Height includes any margin you want above or below control items */
    height: 3.0em;
    /* background-color-with-alpha */
    background-color: #07141e;
    background-color: rgba(7, 20, 30, 0.7);
  }

  .vjs-default-skin .vjs-control-bar-top {
    top: 0;
    bottom: auto;
  }

  /* General styles for individual controls. */
  .vjs-default-skin .vjs-control {
    outline: none;
    position: relative;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 3.0em;
    width: 4em;
  }

  /* FontAwsome button icons */
  .vjs-default-skin .vjs-control:before {
    font-family: VideoJS;
    font-size: 1.5em;
    line-height: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  /* Replacement for focus outline */
  .vjs-default-skin .vjs-control:focus:before,
  .vjs-default-skin .vjs-control:hover:before {
    text-shadow: 0em 0em 1em #ffffff;
  }

  .vjs-default-skin .vjs-control:focus {
    /*  outline: 0; */
    /* keyboard-only users cannot see the focus on several of the UI elements when
    this is set to 0 */
  }

  /* Hide control text visually, but have it available for screenreaders */
  .vjs-default-skin .vjs-control-text {
    /* hide-visually */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  /* Play/Pause
  --------------------------------------------------------------------------------
  */
  .vjs-default-skin .vjs-play-control {
    width: 5em;
    cursor: pointer;
  }

  .vjs-default-skin .vjs-play-control:before {
    content: "\e001";
  }

  .vjs-default-skin.vjs-playing .vjs-play-control:before {
    content: "\e002";
  }

  /* Volume/Mute
  -------------------------------------------------------------------------------- */
  .he .vjs-default-skin .vjs-mute-control,
  .he .vjs-default-skin .vjs-volume-menu-button {
    float: left;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
  }

  .vjs-default-skin .vjs-mute-control,
  .vjs-default-skin .vjs-volume-menu-button {
    cursor: pointer;
    float: right;
    border-left: 1px solid #333333;
  }

  .vjs-default-skin .vjs-mute-control:before,
  .vjs-default-skin .vjs-volume-menu-button:before {
    content: "\e006";
  }

  .vjs-default-skin .vjs-mute-control.vjs-vol-0:before,
  .vjs-default-skin .vjs-volume-menu-button.vjs-vol-0:before {
    content: "\e003";
  }

  .vjs-default-skin .vjs-mute-control.vjs-vol-1:before,
  .vjs-default-skin .vjs-volume-menu-button.vjs-vol-1:before {
    content: "\e004";
  }

  .vjs-default-skin .vjs-mute-control.vjs-vol-2:before,
  .vjs-default-skin .vjs-volume-menu-button.vjs-vol-2:before {
    content: "\e005";
  }

  .he .vjs-default-skin .vjs-volume-control {
    float: left;
  }

  .vjs-default-skin .vjs-volume-control {
    width: 15em;
    float: right;
    border-left: 1px solid #333333;
  }

  .vjs-default-skin .vjs-volume-bar {
    width: 13em;
    margin: 0.7em auto 0;
  }

  .vjs-default-skin .vjs-volume-menu-button .vjs-menu-content {
    height: 2.9em;
  }

  .vjs-default-skin .vjs-volume-level {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5em;
    background: #66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat;
  }

  .vjs-default-skin .vjs-volume-bar .vjs-volume-handle {
    width: 0.5em;
    height: 0.5em;
  }

  .vjs-default-skin .vjs-volume-handle:before {
    font-size: 0.9em;
    top: -0.2em;
    left: -0.2em;
    width: 1em;
    height: 1em;
  }

  .vjs-default-skin .vjs-volume-menu-button .vjs-menu .vjs-menu-content {
    width: 6em;
    left: -4em;
  }

  /* Progress
  --------------------------------------------------------------------------------
  */
  .vjs-default-skin .vjs-progress-control {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    font-size: 0.3em;
    height: 1em;
    /* Set above the rest of the controls. */
    top: -1em;
    /* Shrink the bar slower than it grows. */
    /* transition */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  /* On hover, make the progress bar grow to something that's more clickable.
      This simply changes the overall font for the progress bar, and this
      updates both the em-based widths and heights, as wells as the icon font */
  .vjs-default-skin:hover .vjs-progress-control {
    font-size: .9em;
    /* Even though we're not changing the top/height, we need to include them in
        the transition so they're handled correctly. */
    /* transition */
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  /* Box containing play and load progresses. Also acts as seek scrubber. */
  .vjs-default-skin .vjs-progress-holder {
    height: 100%;
  }

  /* Progress Bars */
  .vjs-default-skin .vjs-progress-holder .vjs-play-progress,
  .vjs-default-skin .vjs-progress-holder .vjs-load-progress {
    position: absolute;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    /* Needed for IE6 */
    left: 0;
    top: 0;
  }

  .vjs-default-skin .vjs-play-progress {
    /*
      Using a data URI to create the white diagonal lines with a transparent
        background. Surprisingly works in IE8.
        Created using http://www.patternify.com
      Changing the first color value will change the bar color.
      Also using a paralax effect to make the lines move backwards.
        The -50% left position makes that happen.
    */
    background: #66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat;
  }

  .vjs-default-skin .vjs-load-progress {
    background: #646464 /* IE8- Fallback */;
    background: rgba(255, 255, 255, 0.4);
  }

  .vjs-default-skin .vjs-seek-handle {
    width: 1.5em;
    height: 100%;
  }

  .vjs-default-skin .vjs-seek-handle:before {
    padding-top: 0.1em /* Minor adjustment */;
  }

  /* Time Display
  --------------------------------------------------------------------------------
  */
  .vjs-default-skin .vjs-time-controls {
    font-size: 1em;
    /* Align vertically by making the line height the same as the control bar */
    line-height: 3em;
  }

  .vjs-default-skin .vjs-current-time {
    float: left;
  }

  .vjs-default-skin .vjs-duration {
    float: left;
  }

  /* Remaining time is in the HTML, but not included in default design */
  .vjs-default-skin .vjs-remaining-time {
    display: none;
    float: left;
  }

  .vjs-time-divider {
    float: left;
    line-height: 3em;
  }

  /* Fullscreen
  --------------------------------------------------------------------------------
  */
  .he .vjs-default-skin .vjs-fullscreen-control {
    float: left;
  }

  .vjs-default-skin .vjs-fullscreen-control {
    width: 3.8em;
    cursor: pointer;
    float: right;
    border-left: 1px solid #333333;
  }

  .vjs-default-skin .vjs-fullscreen-control:before {
    content: "\e000";
  }

  /* Switch to the exit icon when the player is in fullscreen */
  .vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before {
    content: "\e00b";
  }

  /* Big Play Button (play button at start)
  --------------------------------------------------------------------------------
  Positioning of the play button in the center or other corners can be done more
  easily in the skin designer. http://designer.videojs.com/
  */
  .vjs-default-skin .vjs-big-play-button {
    left: 0.5em;
    top: 0.5em;
    font-size: 3em;
    display: block;
    z-index: 2;
    position: absolute;
    width: 4em;
    height: 2.6em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
    /* Need a slightly gray bg so it can be seen on black backgrounds */
    /* background-color-with-alpha */
    background-color: #07141e;
    background-color: rgba(7, 20, 30, 0.7);
    border: 0.1em solid #3b4249;
    /* border-radius */
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    /* box-shadow */
    -webkit-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
    /* transition */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .vjs-default-skin:hover .vjs-big-play-button,
  .vjs-default-skin .vjs-big-play-button:focus {
    outline: 0;
    border-color: #fff;
    /* IE8 needs a non-glow hover state */
    background-color: #505050;
    background-color: rgba(50, 50, 50, 0.75);
    /* box-shadow */
    -webkit-box-shadow: 0 0 3em #ffffff;
    -moz-box-shadow: 0 0 3em #ffffff;
    box-shadow: 0 0 3em #ffffff;
    /* transition */
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
  }

  .vjs-default-skin .vjs-big-play-button:before {
    content: "\e001";
    font-family: VideoJS;
    /* In order to center the play icon vertically we need to set the line height
       to the same as the button height */
    line-height: 2.6em;
    text-shadow: 0.05em 0.05em 0.1em #000;
    text-align: center /* Needed for IE8 */;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Loading Spinner
  --------------------------------------------------------------------------------
  */
  .vjs-loading-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5em;
    line-height: 1;
    width: 1em;
    height: 1em;
    margin-left: -0.5em;
    margin-top: -0.5em;
    opacity: 0.75;
    /* animation */
    -webkit-animation: spin 1.5s infinite linear;
    -moz-animation: spin 1.5s infinite linear;
    -o-animation: spin 1.5s infinite linear;
    animation: spin 1.5s infinite linear;
  }

  .vjs-default-skin .vjs-loading-spinner:before {
    content: "\e00a";
    font-family: VideoJS;
    position: absolute;
    width: 1em;
    height: 1em;
    text-align: center;
    text-shadow: 0em 0em 0.1em #000;
  }

  /* Add a gradient to the spinner by overlaying another copy.
     Text gradient plus a text shadow doesn't work
     and `background-clip: text` only works in Webkit. */
  .vjs-default-skin .vjs-loading-spinner:after {
    content: "\e00a";
    /* Loading spinner icon */
    font-family: VideoJS;
    position: absolute;
    width: 1em;
    height: 1em;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(359deg);
    }
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
    }
  }

  @-o-keyframes spin {
    0% {
      -o-transform: rotate(0deg);
    }
    100% {
      -o-transform: rotate(359deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  /* Menu Buttons (Captions/Subtitles/etc.)
  --------------------------------------------------------------------------------
  */
  .vjs-default-skin .vjs-menu-button {
    float: right;
    cursor: pointer;
  }

  .vjs-default-skin .vjs-menu {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0em;
    /* (Width of vjs-menu - width of button) / 2 */
    width: 0em;
    height: 0em;
    margin-bottom: 3em;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    border-top: 1.55em solid #000000;
    /* Same width top as ul bottom */
    border-top-color: rgba(7, 40, 50, 0.5);
    /* Same as ul background */
  }

  /* Button Pop-up Menu */
  .vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 10em;
    bottom: 1.5em;
    /* Same bottom as vjs-menu border-top */
    max-height: 15em;
    overflow: auto;
    left: -5em;
    /* Width of menu - width of button / 2 */
    /* background-color-with-alpha */
    background-color: #07141e;
    background-color: rgba(7, 20, 30, 0.7);
    /* box-shadow */
    -webkit-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
    -moz-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
    box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
  }

  .vjs-default-skin .vjs-menu-button:hover .vjs-menu {
    display: block;
  }

  .vjs-default-skin .vjs-menu-button ul li {
    list-style: none;
    margin: 0;
    padding: 0.3em 0 0.3em 0;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
    text-transform: lowercase;
  }

  .vjs-default-skin .vjs-menu-button ul li.vjs-selected {
    background-color: #000;
  }

  .vjs-default-skin .vjs-menu-button ul li:focus,
  .vjs-default-skin .vjs-menu-button ul li:hover,
  .vjs-default-skin .vjs-menu-button ul li.vjs-selected:focus,
  .vjs-default-skin .vjs-menu-button ul li.vjs-selected:hover {
    outline: 0;
    color: #111;
    /* background-color-with-alpha */
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.75);
    /* box-shadow */
    -webkit-box-shadow: 0 0 1em #ffffff;
    -moz-box-shadow: 0 0 1em #ffffff;
    box-shadow: 0 0 1em #ffffff;
  }

  .vjs-default-skin .vjs-menu-button ul li.vjs-menu-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 2em;
    padding: 0;
    margin: 0 0 0.3em 0;
    font-weight: bold;
    cursor: default;
  }

  /* Subtitles Button */
  .vjs-default-skin .vjs-subtitles-button:before {
    content: "\e00c";
  }

  /* Captions Button */
  .vjs-default-skin .vjs-captions-button:before {
    content: "\e008";
  }

  /* Replacement for focus outline */
  .vjs-default-skin .vjs-captions-button:focus .vjs-control-content:before,
  .vjs-default-skin .vjs-captions-button:hover .vjs-control-content:before {
    /* box-shadow */
    -webkit-box-shadow: 0 0 1em #ffffff;
    -moz-box-shadow: 0 0 1em #ffffff;
    box-shadow: 0 0 1em #ffffff;
  }

  /*
  REQUIRED STYLES (be careful overriding)
  ================================================================================
  When loading the player, the video tag is replaced with a DIV,
  that will hold the video tag or object tag for other playback methods.
  The div contains the video playback element (Flash or HTML5) and controls,
  and sets the width and height of the video.

  ** If you want to add some kind of border/padding (e.g. a frame), or special
  positioning, use another containing element. Otherwise you risk messing up
  control positioning and full window mode. **
  */
  .video-js {
    background-color: #FFF;
    position: relative;
    padding: 0;
    /* Start with 10px for base font size so other dimensions can be em based and
       easily calculable. */
    font-size: 10px;
    /* Allow poster to be vertially aligned. */
    vertical-align: middle;
    /*  display: table-cell; */
    /*This works in Safari but not Firefox.*/
    /* Provide some basic defaults for fonts */
    font-weight: normal;
    font-style: normal;
    /* Avoiding helvetica: issue #376 */
    font-family: Arial, sans-serif;
    /* Turn off user selection (text highlighting) by default.
       The majority of player components will not be text blocks.
       Text areas will need to turn user selection back on. */
    /* user-select */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Playback technology elements expand to the width/height of the containing div
      <video> or <object> */
  .video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Fix for Firefox 9 fullscreen (only if it is enabled). Not needed when
     checking fullScreenEnabled. */
  .video-js:-moz-full-screen {
    position: absolute;
  }

  /* Fullscreen Styles */
  body.vjs-full-window {
    padding: 0;
    margin: 0;
    height: 100%;
    /* Fix for IE6 full-window. http://www.cssplay.co.uk/layouts/fixed.html */
    overflow-y: auto;
  }

  .video-js.vjs-fullscreen {
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    /* IE6 full-window (underscore hack) */
    _position: absolute;
  }

  .video-js:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
  }

  /* Poster Styles */
  .vjs-poster {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .vjs-poster img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    padding: 0;
    width: 100%;
  }

  /* Text Track Styles */
  /* Overall track holder for both captions and subtitles */
  .video-js .vjs-text-track-display {
    text-align: center;
    position: absolute;
    bottom: 4em;
    /* Leave padding on left and right */
    left: 1em;
    right: 1em;
  }

  /* Individual tracks */
  .video-js .vjs-text-track {
    display: none;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 0.1em;
    /* Transparent black background, or fallback to all black (oldIE) */
    /* background-color-with-alpha */
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .video-js .vjs-subtitles {
    color: #ffffff /* Subtitles are white */;
  }

  .video-js .vjs-captions {
    color: #ffcc66 /* Captions are yellow */;
  }

  .vjs-tt-cue {
    display: block;
  }

  /* Fading sytles, used to fade control bar. */
  .vjs-fade-in {
    display: block !important;
    /* Visibility needed to make sure things hide in older browsers too. */
    visibility: visible;
    opacity: 1;
    /* transition */
    -webkit-transition: visibility 0.1s, opacity 0.1s;
    -moz-transition: visibility 0.1s, opacity 0.1s;
    -o-transition: visibility 0.1s, opacity 0.1s;
    transition: visibility 0.1s, opacity 0.1s;
  }

  .vjs-fade-out {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    /* transition */
    -webkit-transition: visibility 1.5s, opacity 1.5s;
    -moz-transition: visibility 1.5s, opacity 1.5s;
    -o-transition: visibility 1.5s, opacity 1.5s;
    transition: visibility 1.5s, opacity 1.5s;
    /* Wait a moment before fading out the control bar */
    /* transition-delay */
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
  }

  /* Hide disabled or unsupported controls */
  .vjs-default-skin .vjs-hidden {
    display: none;
  }

  .vjs-lock-showing {
    display: block !important;
    opacity: 1;
    visibility: visible;
  }

  /* -----------------------------------------------------------------------------
   * The original source of this file lives at
   * https://github.com/videojs/video.js/blob/master/src/css/video-js.less
   */

</style>

<script type="text/javascript" src="http://v4g.kbb1.com/video/js/janus.js"></script>
<script type="text/javascript" src="http://v4g.kbb1.com/video/js/adapter.js"></script>
<script type="text/javascript" src="http://v4g.kbb1.com/video/js/client-api.js"></script>
<script type="text/javascript">
  var langWebRtc = null, bitrateWebRTC = null;
  var is_connectedWebRtc = false;
  var vid, aud, mutebtn, volumeslider, fullscreenbtn;

  window.setTimeout(function () {
    load_initialize();
  }, 1000);

  function callbackHandler() {
    is_connectedWebRtc = true;
    if (bitrateWebRTC) {
      janusAttachVideo(bitrateWebRTC, '#remoteVideo');
    }
    if (langWebRtc) {
      janusAttachAudio(langWebRtc, '#remoteAudio');
    }
  }

  function errorHander() {
    window.setTimeout(function () {
      window.location.reload();
    }, 10000);
  }

  function destroyHandler() {
    window.location.reload();
  }

  function loadFromLocalStorage() {
    if (localStorage.lang) {
      langWebRtc = Number(localStorage.lang);
      $('#langlist').val(langWebRtc);
      setLanguage();
    }

    if (localStorage.bitrate) {
      bitrateWebRTC = Number(localStorage.bitrate);
      $('#bitratelist').val(bitrateWebRTC);
    }
  }

  function initializePlayer() {
    // Set object references
    vid = document.getElementById("remoteVideo");
    aud = document.getElementById("remoteAudio");
    mutebtn = document.getElementById("mutebtn");
    volumeslider = document.getElementById("volumeslider");
    fullscreenbtn = document.getElementById("fullscreenbtn");

    // Add event listeners
    mutebtn.addEventListener("click", vidmute, false);
    volumeslider.addEventListener("change", setvolume, false);
    fullscreenbtn.addEventListener("click", toggleFullScreen, false);

    // Init dropdowns
    setEventHandlers();
    setBitrates();
    setLanguages();
  }

  function setEventHandlers() {
    $('#bitratelist').change(function () {
      bitrateWebRTC = Number($(this).val());
      localStorage.bitrate = bitrateWebRTC;
      localStorage.videotext = $(this).text();
      if (is_connectedWebRtc) {
        janusAttachVideo(bitrateWebRTC, '#remoteVideo');
      }
      if (bitrateWebRTC === 0) {
        $('#remoteVideo').addClass('hide');
      } else {
        $('#remoteVideo').removeClass('hide');
      }
    });

    $('#langlist').change(setLanguage);
  }

  function setLanguage() {
    langWebRtc = Number($('#langlist').val());
    localStorage.lang = langWebRtc;
    localStorage.langtext = $('#langlist').text();
    if (is_connectedWebRtc) {
      janusAttachAudio(langWebRtc, '#remoteAudio');
    }
  }

  function setBitrates() {
    try {
      var bitrates = getBitrates();
      var str = "";
      $.each(bitrates, function (key, val) {
        str += "<option value='" + key + "'>" + val + "</option>";
      });
      $('#bitratelist').html(str);
    } catch (err) {
      window.setTimeout(function () {
        setBitrates();
      }, 1000);
    }
  }

  function setLanguages() {
    try {
      var languages = getLanguages();
      var str = "";
      $.each(languages, function (key, hash) {
        str += '<optgroup class="dropdown-header" label="' + key + '">';
        $.each(hash, function (id, lang) {
          str += '<option value="' + id + '">' + lang + '</option>';
        });
        str += '</optgroup>'
      });
      $('#langlist').html(str);
    } catch (err) {
      window.setTimeout(function () {
        setLanguages();
      }, 1000);
    }
  }

  function vidmute() {
    aud.muted = !aud.muted;
    if (aud.muted) {
      $(mutebtn).removeClass('vjs-vol-3').addClass('vjs-vol-0');
    } else {
      $(mutebtn).removeClass('vjs-vol-0').addClass('vjs-vol-3');
    }
    return false;
  }

  function setvolume() {
    aud.volume = volumeslider.value / 100;
  }

  function toggleFullScreen() {
    if (vid.requestFullScreen) {
      vid.requestFullScreen();
    } else if (vid.webkitRequestFullScreen) {
      vid.webkitRequestFullScreen();
    } else if (vid.mozRequestFullScreen) {
      vid.mozRequestFullScreen();
    }
  }

  function load_initialize() {
    vid = document.getElementById("remoteVideo");
    if (vid === null || typeof janusConnect !== "function" || typeof Janus !== "function") {
      window.setTimeout(function () {
        load_initialize();
      }, 500);
      return;
    }
    initializePlayer();
    loadFromLocalStorage();
    janusConnect(errorHander, destroyHandler, callbackHandler, false);
    setLanguage();

    // Select appropriate tab
    $('.questions a').click();
    // Set up complaints form
    try {
      $('#user_complain_user_agent').val(navigator.userAgent);
    } catch (err) {
    }
    try {
      $('#user_complain_platform').val(navigator.platform);
    } catch (err) {
    }
    try {
      $('#user_complain_oscpu').val(navigator.oscpu);
    } catch (err) {
    }
    try {
      $('#user_complain_buildid').val(navigator.buildID);
    } catch (err) {
    }
    try {
      var pluginlist = '';
      for (var index = 0; index < navigator.plugins.length; index++) {
        pluginlist += navigator.plugins[index].name + ' / ' + navigator.plugins[index].filename + '<br>\n';
      }
      var mime_types = ['application/x-ms-wmp', 'application/x-mplayer2', 'video/x-ms-asf', 'video/x-ms-wmv'];
      for (var index = 0; index < mime_types.length; index++) {
        var mime = mime_types[index];
        var plugin = navigator.mimeTypes[mime].enabledPlugin;
        if (plugin) {
          pluginlist += mime + ' handled with ' + plugin['name'] + '<br>\n';
        }
      }
      $('#user_complain_plugins').val(pluginlist);
    } catch (err) {
    }
  }

  function validate_form() {
    if ($("#user_complain_message").val().length <= 0) {
      alert("<%= I18n.t('kabtv.kabtv.empty_message') %>");
      return false;
    } else {
      return true;
    }
  }

</script>
