<div dir="<%= I18n.locale.to_s == 'he' ? 'rtl' : 'ltr' %>">
  <h3><%= t('devise.mails.hello') %>, <%= "#{@resource.first_name} #{@resource.last_name}"%>!</h3>

  <p><%= t('devise.mails.reset_password_line1') %>.</p>

  <p><%= link_to t('devise.mails.change_my_password'), edit_user_password_url(:user => @resource, :locale => locale, :reset_password_token => @resource.reset_password_token) %></p>

  <p><%= t('devise.mails.reset_password_line2') %>.</p>
  <p><%= t('devise.mails.reset_password_line3') %>.</p>
</div>
