<%= widget_div do -%>
    <div class="player"
         <%- unless @show_tabs -%>style="float: none; margin: 0 auto;"
         <%- end -%> >
      <div id="tightvideo_img" style="display: none; position: absolute; top: -38px; font-size: 10px; <%= @locale == 'he' ? 'left' : 'right' %> : 0;">
        <%= link_to image_tag('tightvideo.gif', :alt => 'Transcoded by TightVideo'), 'https://www.tightvideo.com/', :title => 'Transcoded by TightVideo', :target => '_blank' %>
      </div>
      <div id="object"><%= I18n.t('kabtv.kabtv.loading') %></div>
      <form action="#" method="get" accept-charset="utf-8"><p><select name="language_id" id="language_id"></select></p>
      </form>
      <form action="#" method="get" accept-charset="utf-8">
        <p><select name="technology_id" id="technology_id"></select></p></form>
      <form action="#" method="get" accept-charset="utf-8"><p><select name="quality_id" id="quality_id"></select></p>
      </form>
      <%- if @stream_preset.show_separate_window -%>
          <a class="player-btn" onclick="kabtv.tabs.detach(); return false;"><span class="detach"> </span></a>
      <%- end -%>
      <a class="player-btn" onclick="kabtv.tabs.fs(); return false;"><span class="full_screen"> </span></a>
    </div>
    <%- if @show_tabs -%>
        <div class="services" <%= "style='height: 355px;'" if @stream_preset.show_coveritlive || @stream_preset.show_special_schedule %>>
          <div class="tabs">
            <%- if @stream_preset.show_questions -%>
                <span><%= link_to I18n.t('kabtv.kabtv.questions'), '#', :onclick => 'return kabtv.tabs.select_me(this, "questions")' %></span>
            <%- end -%>
            <%- if @stream_preset.show_schedule -%>
                <span class="schedule"><%= link_to I18n.t('kabtv.kabtv.schedule'), '#', :onclick => 'return kabtv.tabs.select_me(this, "schedule")' %></span>
            <%- end -%>
            <%- if @stream_preset.show_sketches -%>
                <span><%= link_to I18n.t('kabtv.kabtv.sketches'), '#', :onclick => 'return kabtv.tabs.select_me(this, "sketches")' %></span>
            <%- end -%>
            <%- if @stream_preset.show_coveritlive -%>
                <span><%= link_to I18n.t('kabtv.kabtv.coveritlive'), '#', :onclick => 'return kabtv.tabs.select_me(this, "coveritlive")' %></span>
            <%- end -%>
            <%- if @stream_preset.show_special_schedule -%>
                <span class="special_schedule"><%= link_to I18n.t('kabtv.kabtv.special_schedule'), '#', :onclick => 'return kabtv.tabs.select_me(this, "special_schedule")' %></span>
            <%- end -%>
          </div>
          <div class="content">
            <%= rendered_children.values.join("\n").html_safe %>
          </div>
          <div><%#= link_to I18n.t('kabtv.kabtv.schedule_name'), t('kabtv.kabtv.schedule_link'),
                           :target => '_blank', :style => "font-weight: bold; font-size: +1;color: red;" -%></div>
        </div>
    <%- end -%>
    <%= form_for @user_complain, :as => :user_complain, :url => user_complains_url(:protocol => 'https'), :method => :post, :remote => true,
                 :html               => { :style => "clear:both;width: 310px;display: block;margin: 50px auto 0;#{!@show_tabs ? 'float: none;' : (@locale == 'he' ? 'float: right; margin: 50px 40px 0 0; width: 325px;' : 'float: left; margin: 50px 0 0 40px; width: 325px;')}" } do |f| -%>
        <h3 style="text-align: inherit;"><%= I18n.t "kabtv.kabtv.describe_problem" %>:</h3>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :user_agent %>
        <%= f.hidden_field :platform %>
        <%= f.hidden_field :oscpu %>
        <%= f.hidden_field :buildid %>
        <%= f.hidden_field :plugins %>
        <%= f.hidden_field :language_id %>
        <%= f.hidden_field :technology_id %>
        <%= f.hidden_field :quality_url %>
        <%= f.hidden_field :simulator_breadcrumb %>
        <%= f.hidden_field :robot %>
        <%= f.text_area :message, :style => 'width: 100%; height: 4em; padding:0;' %>
        <%= f.submit I18n.t('kabtv.admin.submit'), :style => "display:block; float: #{@locale == 'he' ? 'left' : 'right'}", :class => 'button-small-main',
                     :disable_with                        => I18n.t('kabtv.admin.submitting'), :onclick => 'return validate_form();' %>
    <% end %>
<%- end -%>

<script type="text/javascript">
  function validate_form() {
    if ($("#user_complain_message").val().length <= 0) {
      alert("<%= I18n.t('kabtv.kabtv.empty_message') %>");
      return false;
    } else {
      return true;
    }
  }
  $(function () {
    // Select appropriate tab
    <%= @stream_preset.show_schedule ? "$('.schedule a').click();".html_safe : (@stream_preset.show_special_schedule ? "$('.special_schedule a').click();".html_safe : "") -%>
    // Set up complaints form
    try {
      $('#user_complain_user_agent').val(navigator.userAgent);
    } catch (err) {
    }
    try {
      $('#user_complain_platform').val(navigator.platform);
    } catch (err) {
    }
    try {
      $('#user_complain_oscpu').val(navigator.oscpu);
    } catch (err) {
    }
    try {
      $('#user_complain_buildid').val(navigator.buildID);
    } catch (err) {
    }
    try {
      var pluginlist = '';
      // for (var i in baps) pluginlist += ' ' + i + ': ' + baps[i];
      for (var index = 0; index < navigator.plugins.length; index++) {
        pluginlist += navigator.plugins[ index ].name + ' / ' + navigator.plugins[ index ].filename + '<br>\n';
      }
      var mime_types = [ 'application/x-ms-wmp', 'application/x-mplayer2', 'video/x-ms-asf', 'video/x-ms-wmv' ];
      for (var index = 0; index < mime_types.length; index++) {
        var mime   = mime_types[ index ];
        var plugin = navigator.mimeTypes[ mime ].enabledPlugin;
        if (plugin) {
          pluginlist += mime + ' handled with ' + plugin[ 'name' ] + '<br>\n';
        }
      }
      $('#user_complain_plugins').val(pluginlist);
    } catch (err) {
    }

    $("select#language_id").live('change', function () {
      // Select technology
      current_language          = $(this).val();
      var lang_obj              = current_language ? $.grep(kabtv.tabs.languages, function (n, i) {
        return n.lid == current_language
      })[ 0 ] : kabtv.tabs.languages[ 0 ];
      var default_technology_id = lang_obj.tid;
      set_player_technology(lang_obj, default_technology_id);

      var stream_url = $("select#quality_id").val();
      kabtv.tabs.draw_player(stream_url);
    });
    $("#technology_id").live('change', function () {
      // Select quality
      var current_language      = $("select#language_id").val();
      var default_technology_id = $(this).val();
      set_player_quality(current_language, default_technology_id);

      var stream_url = $("select#quality_id").val();
      kabtv.tabs.draw_player(stream_url);
    });
    $("select#quality_id").live('change', function () {
      var stream_url = $(this).val();
      kabtv.tabs.draw_player(stream_url);
    });

    kabtv.tabs.poll_tabs              = <%= @show_tabs %>;
    kabtv.tabs.poll_support           = <%= @show_support %>;
    kabtv.tabs.stream_preset_id       = '<%= @stream_preset.id %>';
    kabtv.tabs.flash_text             = '<%= I18n.t "kabtv.kabtv.flash" %>';
    kabtv.tabs.wmv_text               = '<%= I18n.t "kabtv.kabtv.wmv" %>';
    kabtv.tabs.url_for_presets_update = '<%= url_for_event(:update_presets) %>'.replace(/&amp;/g, '&');
    kabtv.tabs.pollPresets();
    kabtv.tabs.startPollingPresets();
  });
</script>
