<%= widget_div do -%>
  <div class="player" <%- unless @show_tabs -%> style="float: none; margin: 0 auto;" <%- end -%> >
    <%- if @show_support -%>
      <div class="support">
        <!-- webim button -->
        <a onclick="if(navigator.userAgent.toLowerCase().indexOf('opera') != -1 && window.event.preventDefault) window.event.preventDefault();this.newWindow = window.open('http://live.kab.tv/client.php?locale=<%= I18n.locale %>&amp;style=tech<%= I18n.locale == :he ? 'heb' : ''%>&amp;group=1&amp;url='+escape(document.location.href)+'&amp;referrer='+escape(document.referrer), 'webim', 'toolbar=0,scrollbars=0,location=0,status=1,menubar=0,width=640,height=480,resizable=1');this.newWindow.focus();this.newWindow.opener=window; pageTracker._trackEvent('Links', 'Inbound', 'Help_Button'); return false;" target="_blank" href="http://live.kab.tv/client.php?locale=<%= I18n.locale %>&amp;style=tech<%= I18n.locale == :he ? 'heb' : ''%>&amp;group=1" rel="nofollow">
          <%= t('kabtv.kabtv.technical_support') %>
          <div class="online-status"></div>
        </a>
      </div>
    <%- end -%>
    <div id="object"><%= I18n.t('kabtv.kabtv.loading') %></div>
    <form action="#" method="get" accept-charset="utf-8">
      <p>
        <select name="language_id" id="language_id">
          <%- locale = I18n.locale.to_s -%>
          <% @languages.each { |l_id|
            l = Language.find(l_id)
          %>
            <option <%= 'selected="selected"'.html_safe if l.locale == locale %> value="<%= l_id %>"><%= l.language %></option>
          <% } %>
        </select>
      </p>
    </form>
    <form action="#" method="get" accept-charset="utf-8">
      <p><select name="quality" id="quality"></select></p>
    </form>
    <%- if @stream_preset.show_separate_window -%>
      <a class="player-btn" onclick="kabtv.tabs.detach(); return false;"><span class="detach"> </span></a>
    <%- end -%>
    <a class="player-btn" onclick="kabtv.tabs.fs(); return false;"><span class="full_screen"> </span></a>
  </div>
  <%- if @show_tabs -%>
    <div class="services">
      <div class="tabs">
        <%- if @stream_preset.show_questions -%>
          <span><%= link_to I18n.t('kabtv.kabtv.questions'), '#', :onclick => 'return kabtv.tabs.select_me(this, "questions")' %></span>
        <%- end -%>
        <%- if @stream_preset.show_schedule -%>
          <span class="active"><%= link_to I18n.t('kabtv.kabtv.schedule'), '#', :onclick => 'return kabtv.tabs.select_me(this, "schedule")' %></span>
        <%- end -%>
        <%- if @stream_preset.show_sketches -%>
          <span><%= link_to I18n.t('kabtv.kabtv.sketches'), '#', :onclick => 'return kabtv.tabs.select_me(this, "sketches")' %></span>
        <%- end -%>
      </div>
      <div class="content">
        <%= rendered_children.values.join("\n").html_safe %>
      </div>
      <div><%= link_to I18n.t('kabtv.kabtv.schedule_berlin'), 'https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0Ap_EBPYYVaW1dGZseWNhb1lFT3BQTzF3eUFLSG1Kb3c&output=html',
        :target => '_blank', :style => "font-weight: bold; font-size: +1;color: red; position: absolute; bottom: 15px;" -%></div>
    </div>
  <%- end -%>
<%- end -%>

<script type="text/javascript">
  $(function (){
		
    kabtv.tabs.poll_tabs = <%= @show_tabs %>;
    kabtv.tabs.poll_support = <%= @show_support %>;
    kabtv.tabs.url_for_presets_update = '<%= url_for_event(:update_presets) %>';
    kabtv.tabs.pollPresets();
    kabtv.tabs.startPollingPresets();
    $("select#language_id").live('change', function(){
      var lang_id = $(this).val();
      $("select#quality option").remove();
      $(kabtv.tabs.presets[lang_id].options).appendTo('#quality');
      $("select#quality").prev().text( $("select#quality :selected").text() );
      var stream_url = $("select#quality").val();
      kabtv.tabs.draw_player(stream_url);
    });
    $("select#quality").live('change', function(){
      var stream_url = $(this).val();
      kabtv.tabs.draw_player(stream_url);
    });
  });
</script>
