<%= widget_div do -%>
  <div class="support">
    <span style="color:green">ONLINE!</span><br/>
    <a href="#">Technical Support</a>
  </div>
  <div class="player">
    <div id="object">Loading...</div>
    <form action="#" method="get" accept-charset="utf-8">
      <p>
        <select name="language_id" id="language_id">
          <%- locale = I18n.locale.to_s -%>
          <% @languages.each { |l_id|
            l = Language.find(l_id)
          %>
            <option <%= 'selected="selected"'.html_safe if l.locale == locale %> value="<%= l_id %>"><%= l.language %></option>
          <% } %>
        </select>
      </p>
    </form>
    <form action="#" method="get" accept-charset="utf-8">
      <p><select name="quality" id="quality"></select></p>
    </form>
  </div>
  <div class="services">
    <div class="tabs">
      <span><%= link_to 'Questions', '#', :onclick => 'return kabtv.tabs.select_me(this)' %></span>
      <span class="active"><%= link_to 'Schedule', '#', :onclick => 'return kabtv.tabs.select_me(this)' %></span>
      <span><%= link_to 'Sketches', '#', :onclick => 'return kabtv.tabs.select_me(this)' %></span>
    </div>
    <div class="content">
      <%= rendered_children.values.join("\n").html_safe %>
    </div>
  </div>
<%- end -%>

<script type="text/javascript">
  $(function (){
    kabtv.tabs.url_for_presets_update = '<%= url_for_event(:update_presets) %>';
    kabtv.tabs.pollPresets();
    kabtv.tabs.startPollingPresets();

    $("select#language_id").live('change', function(){
      var lang_id = $(this).val();
      $("select#quality option").remove();
      $(kabtv.tabs.presets[lang_id].options).appendTo('#quality');
      $("select#quality").prev().text( $("select#quality :selected").text() );
      var stream_url = $("select#quality").val();
      kabtv.tabs.draw_player(stream_url);
    });
    $("select#quality").live('change', function(){
      var stream_url = $(this).val();
      kabtv.tabs.draw_player(stream_url);
    });
  });
</script>
