<% unless @users.nil? || @users.empty? %>
  <h3><%= t('admin.reports.report') %> <%= t('admin.reports.for_month') %>
    <%= I18n.l @report.when_start.beginning_of_day, :format => :attendance_report %> - <%= I18n.l @report.when_end.end_of_day, :format => :attendance_report %></h3>
  <%= link_to_function t('admin.reports.print'), 'window.print();', :class => 'ui-button ui-widget ui-state-default ui-corner-all', :id => 'print_link' %>
    <%= t('admin.reports.total') %>: <%= @users.count %>
  <table id="report" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <% @table_headers.each{|pf| %>
          <td><%= pf %></td>
        <% } %>
        <td><%= t('admin.reports.status') %></td>
        <td><%= t('admin.reports.total') %></td>
        <% (@report.when_start.to_i .. @report.when_end.to_i).step(24 * 60 * 60) { |d| day = Time.at(d) %>
          <td><%= day.day %>/<%= day.month %></td>
        <% } %>
      </tr>
    </thead>
    <% @users.each do|user| %>
      <tr>
        <% @only.each do|pf| %>
          <td><%= pf == :language_id ? @languages[user.user[pf]] : user.user[pf] %></td>
        <% end %>
        <td><%=
          case user.status
          when '+'
            t('admin.reports.plus')
          when '-'
            t('admin.reports.minus')
          when 'x'
            t('admin.reports.x')
          end
        %></td>
        <td><%= user.total_attended.to_s %></td>
        <% (@report.when_start.to_i .. @report.when_end.to_i).step(24 * 60 * 60) { |d| day = Time.at(d)
          at = "#{day.day}/#{day.month}"
          content = user.attendance ? user.attendance[at] : ' '
        %>
          <td><%= content %></td>
        <% } %>
      </tr>
    <% end %>
  </table>
<% end %>
