<%= widget_div do -%>
  <div class="images">
  </div>
  <div class="buttons">
    <a class="left_button" href="#" onclick="kabtv.sketches.first(); return false;">&laquo; <%= I18n.t 'kabtv.kabtv.first' %></a>
    <a class="left_button" href="#" onclick="kabtv.sketches.prev(); return false;">&lsaquo; <%= I18n.t 'kabtv.kabtv.prev' %></a>
    <span class="title"></span>
    <a class="right_button" href="#" onclick="kabtv.sketches.last(); return false;"><%= I18n.t 'kabtv.kabtv.last' %> &raquo;</a>
    <a class="right_button" href="#" onclick="kabtv.sketches.next(); return false;"><%= I18n.t 'kabtv.kabtv.next' %>&rsaquo;</a>
    <div class="clear"></div>
    <a id="new_sketches" class="right_button hidden" href="#" onclick="kabtv.sketches.last(); return false;"><%= I18n.t 'kabtv.kabtv.new_sketches' %> &raquo;</a>
    <div class="clear"></div>
  </div>
<%- end -%>

<script type="text/javascript">
  $(function (){
    kabtv.sketches.url_for_classboard = '<%= url_for_event(:classboard) %>'.replace(/&amp;/g, '&');
    kabtv.tabs.stream_preset_id = '<%= @stream_preset.id %>';
    
    kabtv.sketches.pollSketches();
    kabtv.sketches.startPollingSketches();
  });
</script>
