<% question.entries.each_with_index do |e, idx| %>
  <div>
    <%= check_box_tag "question_pair_id[value_ids][]", e.id.to_s, answer.values.include?(e) %>
    <%= builder.label :value, e.label %>
  </div>
<% end %>
<%- if question.other %>
  <div class="other">
    <%= builder.check_box :question_pair_id, {}, question.other.id %>
    <%= builder.label :question_pair_id, question.other.label %><br/>
    <%= builder.text_area :text_value, :rows => 4, :cols => 80  %>
  </div>
<%- end %>
