<% question.entries.each_with_index do |e, idx| %>
  <div>
    <%= builder.radio_button :question_pair_id, e.id %>
    <%= builder.label :question_pair_id, e.label %>
  </div>
<% end %>
<%- if question.other %>
  <div>
    <%= builder.radio_button :question_pair_id, question.other.id %>
    <%= builder.label :question_pair_id, question.other.label %>
    <%= builder.text_area :text_value  %>
  </div>
<%- end %>