<%- obj_id = "_validRadio_#{question.object_id}" -%>
<span id="<%= obj_id %>" class="input_wrap">
  <% question.entries.each_with_index do |e, idx| %>
    <div>
      <%= builder.radio_button :question_pair_id, e.id %>
      <%= builder.label :question_pair_id, e.label %>
    </div>
  <% end %>
  <%- if question.other %>
    <div class="other">
      <%= builder.radio_button :question_pair_id, question.other.id %>
      <%= builder.label :question_pair_id, question.other.label %><br/>
      <%= builder.text_area :text_value, :rows => 4  %>
    </div>
  <%- end %>
</span>
<%- content_for :validation_script do
  <<-JS
  jQuery('##{obj_id}').validate({
  expression: "if (isChecked(SelfID)) return true; else return false;",
  message: "#{I18n.t 'answer.model.select_one_option'}"
  });
  JS
end -%>
