<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Pages Administration </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <%- if is_rtl? %>
      <%= stylesheet_link_tag 'styles-rtl.less', :rel => 'stylesheet/less' %>
    <%- else -%>
      <%= stylesheet_link_tag 'styles.less', :rel => 'stylesheet/less' %>
    <%- end -%>
    <%= javascript_include_tag 'less-1.0.36.min.js' %>

    <%= stylesheet_link_tag 'admin_pages', 'jquery-ui-1.8.4.custom', 'tag-it', 'anytime' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie-pages' %>
    <![endif]-->

    <%= javascript_include_tag 'jquery-1.4.2.min', 'rails',
      'jquery-ui-1.8.4.custom.min', "jquery.ui.datepicker-#{I18n.locale}.js",
      'jquery.colorbox-min.js', 'jquery.form.js', 'pages', 'tag-it', 'anytimec' %>

    <%= csrf_meta_tag %>

    <%= javascript_include_tag :ckeditor, '/ckfinder/ckfinder' %>

    <% if is_rtl? %>
      <%= stylesheet_link_tag 'tag-it-rtl' %>
      <%= stylesheet_link_tag 'page-plugins/rtl/screen' %>
    <% end %>
  </head>
  <body <%= 'dir="rtl"'.html_safe if is_rtl? %>>
    <div class="container <%= yield :add_classes_to_container %>">
      <%= display_messages %>
      <%= yield %>
    </div>
  </body>
</html>
