<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Hamakom</title>
    <meta content="text/html;charset=utf-8" http-equiv="content-type" />
    <%= render 'shared/head' %>
  </head>
  <% layout = controller.instance_of?(Profiles::RegistrationsController) ? 'layout-signup' : 'layout-login' %>
  <body class="<%= I18n.locale %> <%= layout %>">
    <div class="skin_bg">
      <div class="skin_container">
        <p></p>
      </div>
    </div>

    <div class="wrapper">
      <%= render 'stream/header' %>
      <%= yield %>
      <div class="footer">
        New internet project - We build it together
      </div>
    </div>
    <%= render 'shared/ga' %>
  </body>
</html>
