<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= t('home.views.site_name') -%></title>
  <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
  <%= render 'shared/head' -%>
  <%= yield(:head) -%>
  <script>language = '<%= I18n.locale %>';</script>
</head>
<body class="<%= I18n.locale -%> layout-stream">
<div id="<%= current_user.is_archived_broadcasts? ? 'internet' : 'video' -%>"></div>
<%= render 'layouts/google_ads' -%>
<div class="clear"></div>
<div class="wrapper">
  <%= render 'stream/header' -%>
  <div class="column-menu">
    <div class="content-submenu"></div>
    <div><%= render 'stream/page_menu' -%></div>
    <div><%= render_widget 'tags' -%></div>
    <div><%= render 'stream/search_menu' -%></div>
  </div>

  <%= yield(:content) -%>

  <div class="clear"></div>

  <div class="footer">
    <%= t('home.views.new_internet_project_we_build_it_together') -%>
    &nbsp;
    <a href="//www.iubenda.com/privacy-policy/399091" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  </div>
</div>
<%= render 'shared/ga' -%>
</body>
</html>
