<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= t('home.views.site_name') %></title>
    <meta content="text/html;charset=utf-8" http-equiv="content-type" />
    <%= render 'shared/head' %>
    <script>language = '<%= I18n.locale %>';</script>
    <%= render 'shared/ga' %>
  </head>
  <body class="<%= I18n.locale %> layout-popup">
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
