<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Hamakom</title>
    <meta content="text/html;charset=utf-8" http-equiv="content-type" />
    <%= stylesheet_link_tag 'reset', 'pages', 'jquery-ui-1.8.4.custom' %>
    <%= javascript_include_tag :defaults, 'jquery-ui-1.8.4.custom.min', "jquery.ui.datepicker-#{I18n.default_locale}.js" %>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif&amp;subset=latin' rel='stylesheet' type='text/css'></link>
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= I18n.default_locale %>">
    <div id="bg_image">
      <div id="wrapper" class="rounded_10">
        <%= yield %>
        <div class="one_column footer clear">footer</div>
      </div>
    </div>
    <%= render 'shared/ga' %>
  </body>
</html>
