<% content_for :content do %>
  <div class="column-content <%= yield :content_width if  content_for?(:content_width) %>">
    <%= yield %>
  </div>

  <%- unless content_for?(:hide_widgets) -%>
    <div class="column-widgets">
      <div class="content-submenu"></div>
      <div><%= render_widget 'profile' %></div>
      <div><%= render_widget 'social_button' %></div>
<% if false # I18n.locale == :ru %>
			<div class="widget-blog"><h4><%= link_to t('stream.ravs_opinions'), "https://docs2.google.com/document/d/1wChn55tp68Qr3-aslUr9WucwQ5ggXUdHSS-4wEVbOWA/edit?hl=ru#", :target => '_blank' %></h4></div>
<% end %>
      <div><%= render_widget 'blog' %></div>
    </div>
  <%- end -%>
<%- end -%>

<% content_for :head do %>
	<%#- if current_user.is_rav_posting? || current_user.is_frontend_editor? || current_user.is_admin? -%>
		<%#= javascript_include_tag :ckeditor, '/ckfinder/ckfinder' %>
	<%# end %>
<%- end -%>

<%= render :file => 'layouts/main' %>
