<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Hamakom</title>
    <meta content="text/html;charset=utf-8" http-equiv="content-type" />
    <%= stylesheet_link_tag 'reset' %>
    <%- if I18n.locale == :he %>
      <%= stylesheet_link_tag 'styles-rtl.less', :rel => 'stylesheet/less' %>
    <%- else -%>
      <%= stylesheet_link_tag 'styles.less', :rel => 'stylesheet/less' %>
    <%- end -%>
    <%= javascript_include_tag 'less-1.0.36.min.js' %>

    <%= javascript_include_tag :defaults,
      'jquery-ui-1.8.4.custom.min',
      'jquery.colorbox-min.js',
      'autoresize.jquery.min',
      'autocomplete-rails.js'
  %>
    <%= csrf_meta_tag %>
    <style type="text/css">
      .error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
      .error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
      .notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
      .success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
      .error a, .error h3 {color:#8a1f11;}
      .notice a {color:#514721;}
      .success a {color:#264409;}
    </style>
  </head>
  <body class="<%= I18n.default_locale %> layout-stream">
    <div class="skin_bg">
      <div class="skin_container">
        <p></p>
      </div>
    </div>

    <div class="wrapper">
      <%= render 'stream/header' %>
      <%= yield %>
      <div class="footer">
        New internet project - We build it together
      </div>
    </div>
    <%= render 'shared/ga' %>
  </body>
</html>
